.enrollment-group-component {
    padding: 0 20px;

    md-dialog-content md-radio-button {
        margin-right: 20px;
    }

    md-toolbar {
        background-color: transparent;
    }

    .md-toolbar-tools {
        padding-left: 0;
    }

    .md-toolbar-tools h1 {
        color: rgb(85, 85, 85);
        font-size: 38.5px;
    }

    table tr {
        th {
            color: #000;
            font-weight: 400;
            font-size: 12px;
            text-align: left;
            border-bottom: 1px solid #aaa;
            padding-bottom: 7px;
        }
        td {
            vertical-align: middle;
        }
    }

    table {
        tr:hover td {
            background: #fafafa;
            cursor: pointer;
        }
    }


    .btn-blue {
        border-radius: 0;
        background-color: #368ee0;
        color: #FFF;
    }

    .btn-green {
        border-radius: 0;
        background-color: #393;
        color: #FFF;
    }

    .btn-blue:hover {
        background-color: #1e74c5;
        color: #fff;
    }

    .btn-green:hover {
        background-color: #267326;
        color: #fff;
    }
}

.enrollment-group-dialog {
    width: 660px;

    md-input-container {
        width: 100%;
    }

    .btn-blue {
        margin-right: 10px;
        border-radius: 0;
        background-color: #368ee0;
        color: #FFF;
    }

    .btn-blue:hover {
        background-color: #1e74c5;
        color: #fff;
    }

    .btn-red{
        border-radius: 0;
        background-color: #e51400;
        color: #FFF;
    }

    .btn-red:hover {
        background-color: #b21000;
        color: #fff;
    }
}
