<div class="enrollment-group-component">
    <md-toolbar style="margin-bottom: 20px">
        <div class="md-toolbar-tools">
            <h1>
              <span>{{vm.lang.get('label.registration_groups')}}</span>
            </h1>
            <span flex></span>
            <a class="btn btn-blue" ng-click="vm.showRoles(1)"><i class="glyphicon glyphicon-plus"></i> {{vm.lang.get('label.new_registration_group')}}</a>
        </div>
    </md-toolbar>
    <div>
        <a class="btn btn-blue" ng-click="vm.filterGroup(false)">{{vm.lang.get('label.active')}}</a>
        <a class="btn btn-green" ng-click="vm.filterGroup(true)">{{vm.lang.get('label.archive')}}</a>
    </div>
    <table ng-table="vm.groupTableParams" class="table">
        <thead>
            <tr>
                <th>{{vm.lang.get('label.name')}}</th>
                <th>{{vm.lang.get('label.period_visible')}}</th>
                <th>{{vm.lang.get('label.period_for_registration')}}</th>
                <th>{{vm.lang.get('label.number_of_activities')}}</th>
                <th>{{vm.lang.get('label.maximum_course_per_child')}}</th>
                <th>{{vm.lang.get('label.default')}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in $data" ui-sref="app.enrollment_group({school_id: group.school.id, id: group.enrollment_group.id})">
                <td>
                    {{group.enrollment_group.name}}</td>
                <td>
                    {{ $root.formatDate(group.enrollment_group.date_start, 'DD.MM.YYYY') }} - {{ $root.formatDate(group.enrollment_group.date_end , 'DD.MM.YYYY')}}
                </td>
                <td>
                    <span ng-if="group.enrollment_group.enrollment_date_start != null">
                    {{ $root.formatDate(group.enrollment_group.enrollment_date_start, 'DD.MM.YYYY') }} - {{ $root.formatDate(group.enrollment_group.enrollment_date_end, 'DD.MM.YYYY')}}
                    </span>
                </td>
                <td>
                    {{group.number_activated_activities}}
                </td>
                <td>
                    {{group.enrollment_group.participant_activities_maximum}}
                </td>
                <td>
                    <span ng-if="group.enrollment_group.is_default" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <a ng-click="vm.edit($event, group.school.id, group.enrollment_group.id)" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>