<div class="sickness-component bg-blur">
	<div layout="column">
		<div class="header" flex>{{vm.lang.get('label.precautions')}}</div>
		<div layout="row" ng-if="vm.permission">
			<div flex="50" flex-offset="50">
				<md-checkbox ng-model="vm.sickness_confirmed" ng-click="vm.sicknessConfirm()" aria-label="{{vm.lang.get('label.confirm_precaution_registered')}}">
					{{vm.lang.get('label.confirm_precaution_registered')}}
				</md-checkbox>
			</div>
		</div>
		<div layout="row" class="sickness-container">
			<div flex="50" ng-if="vm.permission">
				<span class="description-title">{{vm.lang.get('label.choose_precautions')}}</span>
				<div class="sicknesses">
					<md-radio-group ng-model="vm.option_sickness" ng-change="vm.selectSickness()">
						<div ng-repeat="(key, sickness) in vm.sicknesses" class="sickness">
							<md-radio-button value="{{key}}">{{sickness}}</md-radio-button>
						</div>
					</md-radio-group>
				</div>
				<div class="add-sickness">
					<div class="group">
						<span>{{vm.lang.get('label.name_of_precaution')}}</span>
						<md-input-container md-no-float class="md-block">
							<input ng-model="vm.sickness.name" type="text" placeholder="{{vm.lang.get('label.name_of_precaution_placeholder')}}">
						</md-input-container>
					</div>
					<div class="group">
						<span>{{vm.lang.get('label.description')}}</span>
						<md-input-container md-no-float class="md-block">
							<textarea placeholder="{{vm.lang.get('label.description_placeholder')}}" ng-model="vm.sickness.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
						</md-input-container>
					</div>
					<div class="group">
						<md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="vm.addSickness()"> {{vm.lang.get('label.add_precaution_button')}} </md-button>
					</div>
				</div>
			</div>
			<div flex="50">
				<div class="user-sickness">
					<ul>
						<li ng-repeat="user_sickness in vm.user_sicknesses">
									<div class="user-sickness-item">
										<div class="name">
											{{user_sickness.name}}:{{user_sickness.comment}}
										</div>
										<div class="bg-remove" ng-if="vm.permission == true">
											<a ng-click="vm.deleteSickness(user_sickness)"><img src="./css/images/remove-ico.png" alt="remove-ico"/></a>
										</div>
									</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>