@import "./angular/material/project";

.sickness-component {
  padding: 30px 50px;
  margin-top: 20px;
  .header{
    font-size: 1.786em;
    margin-bottom: 30px;
  }
  .title {
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    margin-left: 35px;
    font-size: 1.143em;
  }
  .sickness-container {
    background: #66D2E0;
    padding: 20px 10px;
    .description-title {
      margin-bottom: 20px;
      display: block;
    }
    .sickness {
      width: 50%;
      display: inline-block;
    }
    .add-sickness {
      md-input-container {
        margin: 0px;
      }
    }
    .user-sickness {
      margin-left: 20px;
      li {
        .user-sickness-item {
          background: #fff;
          min-height: 50px;
          margin-bottom: 5px;
          padding-left: 8px;
          display: table;
          width: 100%;
          &>div {
            display: table-cell;
            vertical-align: middle;
          }
          .name {
            padding: 12px 0;
          }
          .bg-remove {
            background: #F7406A;
            width: 50px;
            text-align: center;
          }
        }
      }
    }
  }
}