@import "./angular/material/project";

.contact-list {
  padding: 10px;
  .contact-header {
    padding: 10px;
    .contact-header-title {
      margin-bottom: 30px;
      .contact-header-title-icon {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: #3F515C;
        padding: 10px;
        display: inline-block;
        margin-right: 10px;
        img {
          width: 30px;
        }
      }
      span {
        font-size: 1.143em;
      }
    }
    .contact-header-class-list {
      .btn-class {
        background: #00BEA5;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        &:hover {
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px;
        }
        &:focus {
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50px;
        }

      }
      .btn-class-selected {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50px;
        background: rgb(3, 155, 229);
        color: #ffffff;
      }
    }

  }
  .contact-list-col {
    margin: 10px;
    .contact-list-item {
      margin-bottom: 20px;
      background: #ffffff;
      .item-child {
        padding: 20px;
        background: #ffffff;
        .child-initial {
          color: #ffffff;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          overflow: hidden;
          background: #FF3D5E;
          padding: 5px;
          margin-right: 10px;
          text-transform: uppercase;
          text-align: center;
        }
        .child-name {
          color: #3EB3FF;
          font-weight: bold;
        }
      }
      .item-guardians {
        padding: 10px 20px;
        background: #F7F7F7;
        border-bottom: 1px solid #E2E2E2;
        font-size: 0.929em;
        .guardian-avatar {
          margin-right: 5px;
          .guardian-avatar img {
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            overflow: hidden;
            border: 2px solid #7A7971;
          }
        }

        .guardian-name {
          margin-right: 10px;
        }
        .guardian-email {
          margin-right: 10px;
        }
        .guardian-mobilephone {
          margin-left: 10px;
        }

      }
    }
  }
}