<div class="contact-list-component bg-blur">
    <div class="contact-list">

        <div layout="row" layout-xs="column">
            <div class="contact-header" layout-wrap>
                <div class="contact-header-title">
                    <span class="contact-header-title-icon">
                        <img src="./css/images/contact-list.png" alt="{{vm.lang.get('label.contact_list')}}"/>
                    </span>
                    <span>
                        {{vm.lang.get('label.contact_list')}}
                    </span>
                </div>

                <div layout="row" class="contact-header-class-list">
                    <div ng-repeat="subgroup in vm.subgroups">
                        <md-button ng-disabled="{{vm.my_subgroup_id === subgroup.id}}" ng-class="{true: 'btn-class-selected', false: ''}[vm.my_subgroup_id === subgroup.id]" class="md-raised md-primary btn-class " ng-click="vm.getContactList(subgroup.id)"> <span>{{subgroup.name}}</span> </md-button>
                    </div>
                </div>

            </div>
        </div>

        <div layout="row" layout-align="end center">
            <md-button ng-click="vm.updateShowMyContact()" class="md-raised" ng-class="{true: 'md-warn', false: 'md-primary'}[vm.show_my_contact=='1']"> {{ vm.show_my_contact=='1' ? vm.lang.get('label.contact_list_not_show_my_contact') : vm.lang.get('label.contact_list_show_my_contact') }} </md-button>
        </div>

        <div layout="row" layout-xs="column">
            <div flex ng-repeat="limit in vm.getLimits(vm.classmates) track by $index" ng-hide="vm.classmates.lenght">
                <div layout="column" class="contact-list-col">
                    <div class="contact-list-item" ng-repeat="student in vm.classmates | limitTo: limit">
                        <div layout="row" layout-align="left center" class="item-child">
                            <div class="child-initial"> {{student.firstname.charAt(0)}}{{student.surname.charAt(0)}} </div>
                            <div class="child-name"> {{student.firstname}} {{student.surname}}</div>
                        </div>
                        <div flex class="item-guardians" ng-repeat="guardian in student.guardians | orderBy: '+firstname'">
                            <div layout="row" layout-align="center center">
                                <div layout-wrap class="guardian-avatar">
                                    <div ng-if="guardian.image_id" class="guardian-avatar">
                                        <img ng-src="/img/profile/{{guardian.image_id}}"/>
                                    </div>
                                    <div ng-if="!guardian.image_id" class="guardian-avatar">
                                        <img class="avarta-child" src="/guardian/img/design/avar.png">
                                    </div>
                                </div>
                                <div flex="30" layout-wrap class="guardian-name">
                                    {{guardian.firstname}} {{guardian.surname}}
                                </div>
                                <div flex="50" layout-wrap class="guardian-email">
                                    <span ng-hide="((vm.show_my_contact == '0' && vm.my_id == guardian.id) || guardian.guardianportal_classlist_show == '0' )"> {{guardian.email}} </span>
                                </div>
                                <div flex="20" layout-wrap class="guardian-mobilephone">
                                    <span ng-if="guardian.mobilephone" ng-hide="((vm.show_my_contact == '0' && vm.my_id == guardian.id) || guardian.guardianportal_classlist_show == '0')">
                                        {{guardian.mobilephone}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>