<md-content class="Page-container profile-page">
	<div layout="row">
		<div flex="35">
			<guardian-pupil-profile></guardian-pupil-profile>
		</div>
		<div flex="65">
			<guardian-consent></guardian-consent>
		</div>
	</div>
</md-content>
