.summer-booking-component {
  position: relative;
  background: #F7F7F7;
  padding-bottom: 100px;
  h3, h4 {
    line-height: 1.7 !important;
  }
  .group-description{
    p{
      padding: 15px;
      font-size: 1.143em;
      line-height: 1.7 !important;
    }
  }
  .line-break{
    padding: 5px 20px;
    div:first-child{
      height: 3px;
      border-top: 1px solid #8ca6b0;
    }
    h4{
      padding-left: 15px;
    }
  }
  md-slider[md-discrete] .md-sign,
  md-slider[md-discrete] .md-sign:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  .md-thumb-text{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
  }
  .title-page{
    vertical-align: middle;
    line-height: 60px;
    padding: 0;
    margin: 0 0 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    &:hover{
      background: #00BEA5;
    }
    .title-image{
      padding: 0;
      width: 60px;
      height: 60px;
      background: #F8A31F;
      border-radius: 50px;
      text-align: center;
      .material-icons {
        color:white;
        height: auto;
        width: auto;
      }
      &.active{
        background: #045668;
      }
    }
    .title-text{
      font-size: 1.143em;
      font-weight:600;
    }
  }
  .expand-icon{
    text-align: right;
    padding-right:40px;
    md-icon{
      color: #70C598;
      &:hover{
        background: none;
      }
    }
    .text{
      font-weight: 600;
    }
  }
  .activities-course{
    padding: 0 20px 0 20px;
    .course-content{
      padding: 0 20px 0 20px;
    }
    .distance-text-location{
      float: right;
    }
    .status-booking{
      display: block;
      padding-top: 8px;
    }
    .course-detail{
      padding: 20px;
      .course-image{
        float: left;
        margin-right: 20px;
      }
      .row{
        padding: 0 20px 0 20px;
      }
    }
  }
  .activities-participant{
    padding: 20px;
    md-content{
      background: none;
    }
    .activity-participant-content{
      padding: 20px;
      border-top: 1px solid #8ca6b0;
    }
    .participant-item{
      margin-bottom: 5px;
      .participant-priority{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
        background: #00946F;
        border-radius: 50px;
        color: white;
        text-align: center;
        display: inline-block;
        position: relative;
        z-index: 20;
      }
      .participant-content{
        height: 100px;
        padding: 0px 0px 0px 20px;
        display: flex;
        background: white;
        .remove-participant{
          cursor: pointer;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #DEDEDE;
          height: 100px;
        }
        .withdraw-disabled{
          cursor: default;
          opacity: 0.6;
        }
        .status {
          display: flex;
          align-items: center;
          border-left: 1px solid #DEDEDE;
        }
      }
      .participant-content-block-3{
        border-left: 1px solid #DEDEDE;
        div{
          padding: 5px;
        }
      }
      .action-container{
        position: relative;
        width: 36px;
        text-align: center;
        padding: 35px 0;
        .material-icons{
          vertical-align: middle;
        }
        .icon-disabled{
          color: #CCC;
        }
        .icon-up{
          position: absolute;
          left: 0;
          top:0;
          outline: none;
        }
        .icon-down{
          position: absolute;
          left: 0;
          bottom:0;
          outline: none;
        }
      }
    }
  }
  .filter {
    padding: 20px;
    .filter-content{
      border-top: 1px solid #8ca6b0;
      text-align: center;
    }
    .normal-title {
      font-size: 1.143em;
    }
    .title {
      font-size: 1.929em;
      display: block;
      text-align: center;
      color: #045668;
    }
    .school-container {
      margin: 20px 20px 10px 0px;
      display: inline-block;
      .school-search {
        display: inline-block;
        margin-left: 20px;
        border-radius: 80%;
        background: #E2E2E2;
      }
    }
    ul {
      text-align: center;
      li {
        display: inline-block;
        cursor: pointer;
        padding: 5px 15px;
        margin: 0 5px 10px 0;
        outline:none;
        background: #FFFFFF;
        border: 2px solid #B0BABF;
      }
    }
    .step-container{
      margin-top: 15px;
      padding: 10px;
      .step {
        display: inline-block;
        .week_active{
          background-color: #DBDBDB !important;
        }
      }
    }

    .distance-container{
      margin-top: 20px;
      padding-bottom: 20px;
      .normal-title {
        line-height: 48px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        font-weight: 600;
      }
      .distance {
        display: inline-block;
        text-align: left;
        width: 45%;
        margin-right: 20px;
      }
    }
    .subject-container {
      padding: 10px;
      .subject {
        display: inline-block;
        .subject_active{
          background-color: #DBDBDB !important;
        }
      }
    }
    .grade-container {
      padding: 10px;
      .grade {
        display: inline-block;
        .grade_active{
          background-color: #DBDBDB !important;
        }
      }
    }
    md-autocomplete {
      width: 290px;
    }
  }
  .avatar-container {
    position: relative;
    display: inline-block;
    .avatar {
      float: right;
      margin-top: 7px;
      width: 50px;
      height: 50px;
    }
    .name {
      right: -5px;
      bottom: -5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 1em;
    }
    .pupil-img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      &:before {
        border: 6px solid #a6aaae;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0.5;
        content: "";
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right:0;
        z-index: 1;
      }
      img {
        min-width: 100%;
        min-height: 100%;
        bottom: -100%;
        top: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
        max-height: 100%;
        max-width: none;
        position: absolute;
      }
    }
  }
  .courses-available-container {
    padding: 10px;
    text-align: right;
    ul {
      text-align: center;
      li {
        display: inline-block;
        cursor: pointer;
        padding: 5px 15px;
        margin-right: 5px;
        outline:none;
        background: #FFFFFF;
        border: 2px solid #B0BABF;
      }
    }
    .course-available {
      display: inline-block;
      .active{
        background-color: #DBDBDB !important;
      }
    }
  }
  .pupil-name {
    color: #3F525D;
    margin-top: 5px;
    display: block;
  }
  .pupil-block{
    display: inline-block;
    padding: 20px 20px 20px 40px;
    h3{
      display: inline-block;
    }
  }
  .pupil-left{
    max-width: 40%;
    min-width: 95px;
    float: left;
  }
  .pupil-right{
    font-weight: 600;
    padding-top: 20px;
  }
  .course-item{
    min-height: 100px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    display: flex;
    .course-load-more{
      color: white;
      cursor: pointer;
      outline: none;
    }
    .button-view-detail{
      background: #045668;
      padding: 12px 14px 12px 12px;
      color: white;
      outline:none;
      md-icon{
        color: white;
      }
      .button-detail-label:first-letter{
        text-transform: capitalize;
      }
    }
  }
  .course-list-detail{
    width: 100%;
    tr{
      th{
        padding: 10px 10px 10px 20px;
        border: 1px solid #CBE1EB;
        text-align: center;
      }
      th:first-child{
        text-align: left;
        padding: 10px 10px 10px 20px;
      }
      td{
        text-align: center;
        padding: 10px;
        border: 1px solid #CBE1EB;
      }
      td:first-child{
        text-align: left;
        padding: 10px 10px 10px 20px;
      }
    }
    .radius-block{
      padding: 5px 15px;
      margin: 0 5px;
      border-radius: 15px;
      background: #FCBF0E;
      cursor:pointer;
      outline:none;
      display: inline-block;
    }
    .radius-block-disabled{
      padding: 5px 15px;
      margin: 0 5px;
      display: inline-block;
      border-radius: 15px;
      background: #DBDBDB;
    }
  }
}