<div class="consent-component bg-blur">
	<div layout="column">
		<div class="header" flex>{{vm.lang.get('label.consent_title_header')}}</div>
		<div class="consent-items">
			<div layout="row" class="consent-title">
				<span class="title" flex>{{vm.lang.get('label.consent_title_parent_portal')}}</span>
				<md-button class="md-primary button-edit" ng-if="vm.permission_edit && vm.editing == false" ng-click="vm.turnOnOffEditing()">{{vm.lang.get('label.consent_button_edit_consents')}}</md-button>
				<section layout="row" layout-sm="column" layout-wrap ng-if="vm.permission_edit && vm.editing == true">
					<button class="md-raised md-primary md-button" ng-click="vm.update_consents()">{{vm.lang.get('label.save')}}</button>
					<button class="md-raised md-info md-button" ng-click="vm.turnOnOffEditing()">{{vm.lang.get('label.cancel')}}</button>
				</section>
			</div>
			<div flex ng-repeat="consent in vm.consents">
				<div layout="row" class="consent" layout-align="center">
					<div flex="75" class="user-consent-info">
						<div class="avatar-container">
							<div class="avatar">
								<img ng-src="{{consent.user_image}}" alt="avatar">
							</div>
							<span class="name color-{{$root.getColor(consent.user_id)}}">{{consent.user_name}}</span>
						</div>
						<div class="title">
							<span>
								{{consent.description}}{{consent.date_expire !== null ? ' (Gyldig t.o.m '+ (consent.date_expire*1000 | date:"dd.MM.yyyy") +')' : '' }}
							</span>
						</div>
					</div>
					<span flex="25" class="consent-status" ng-if="vm.editing == false">{{consent.value == null ? vm.lang.get('label.consent_value_null') : (consent.value == false ? vm.lang.get('label.consent_value_false') : vm.lang.get('label.consent_value_true'))}}</span>
					<div class="radio-group" ng-if="vm.editing == true" flex="25">
						<md-radio-group ng-model="consent.value" layout="row">
							<md-radio-button value="0" aria-label="false" class="md-primary">
								{{vm.lang.get('label.consent_value_false')}}
							</md-radio-button>
							<md-radio-button  ng-value="1" aria-label="true" class="md-primary">
								{{vm.lang.get('label.consent_value_true')}}
							</md-radio-button>
						</md-radio-group>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>