@import "./angular/material/project";

.consent-component {
  padding: 30px 50px;
  margin-bottom: 20px;
  .header{
    font-size: 1.786em;
    margin-bottom: 30px;
  }
  .consent-items {
    background: #fff;
    border-radius: 5px;
  }
  .consent-title{
    background: #8CA6B0;
    color: #fff;
    .button-edit{
      color:#fff
    }
    .title {
      font-size: 1.143em;
      padding: 0 10px;
      margin: 6px 8px;
      line-height: 36px;
      min-height: 36px;
    }
  }
  .consent {
    margin: 10px 50px 10px 20px;
    border-bottom: 3px solid #EEF2F3;
    padding-bottom: 5px;
    .avatar-container{
      position: relative;
      display: inline-block;
      margin-bottom: 5px;
      .avatar {
        width: 50px;
        height: 50px;
      }
    }
    .user-consent-info{
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-block;
      vertical-align: top;
      line-height: 35px;
      margin-left: 35px;
      font-size: 1.143em;
    }
    .consent-status{
      text-align: right;
      font-size: 1.143em;
      line-height: 60px;
      padding: 0px 10px 0px 10px;
    }
    .radio-group{
      line-height: 60px;
      font-size: 1.143em;
      text-align: right;
    }
  }
}