<div class="teacher-academic-year-component">
    <label for="academicYear">{{vm.lang.get('label.year')}}</label>
    <select id="academicYear" ng-model="vm.academicYear" ng-change="vm.changeAcademicYear()">
        <option ng-repeat="year in vm.years" value="{{year}}">{{year}}</option>
        <option value="">{{vm.lang.get('label.all')}}</option>
    </select>
</div>