
<div class="pickup-rules-component">
	<div layout="row">
		<div flex="40">
			<div class="pickup-from-send-message bg-blur">
				<div class="header" flex>{{vm.lang.get("label.pickup_rule_title")}}</div>
				<div class="textarea">
					<md-input-container md-no-float class="md-block">
						<textarea placeholder="{{vm.lang.get('label.pickup_rule_form_description_placeholder')}}" ng-model="vm.pickup.text" md-maxlength="150" md-select-on-focus></textarea>
					</md-input-container>
				</div>
				<div class="action-button">
					<md-button class="md-raised md-primary md-button md-ink-ripple btn-cancel btn-cancel-pickup-rule" ng-click="vm.getAllPickupRulesOfTypeRule('active_pickup_rules')"> {{vm.lang.get('label.cancel')}} </md-button>
					<md-button class="md-raised md-primary md-button md-ink-ripple btn-submit btn-submit-pickup-rule" ng-click="vm.getAllPickupRulesOfTypeRule('active_pickup_rules')"> {{vm.lang.get('label.send_message')}} </md-button>
				</div>
			</div>
		</div>
		<div flex="60">
			<div class="pickup-rule-overview bg-blur">
				<div layout="column">
					<div class="header" flex>
						<div class="icon">
							<img alt="" src="./css/images/pickup-rule.png">
						</div>
						<div class="text">
							<span>{{vm.lang.get("label.pickup_rule_overview_title")}}</span>
						</div>
					</div>
					<div ng-cloak class="tab">
						<md-tabs md-dynamic-height md-border-bottom>
							<md-tab class="title-negative-tab" label="{{vm.lang.get('label.pickup_rule_active_pickup_messages')}}">
								<md-table-container class="pickup-rules-list">
									<table md-table md-row-select class="table-pickup-rules-list">
										<tbody md-body>
										<tr md-row ng-repeat="active_pickup_rule in vm.pickup.active_pickup_rules.data">
											<td md-cell>
												<div class="inline-block-middle">
													<span class="icon-text"><span>TS</span></span>
													<div class="text-date-time">
														<div>
															<div class="text"><span>{{active_pickup_rule.text}}</span></div>
															<div class="date">
																<span>{{(active_pickup_rule.date_start == active_pickup_rule.date_end) ? active_pickup_rule.date_start : (active_pickup_rule.date_start + '-' + active_pickup_rule.date_end)}}</span>
																<!--<span>{{active_pickup_rule.date_start}}</span>-->
																<!--<span>{{active_pickup_rule.date_end}}</span>-->
															</div>
															<div class="time"><span>{{active_pickup_rule.time}}</span></div>
														</div>
													</div>
												</div>
											</td>
											<td md-cell>
												<span class="text-week {{active_pickup_rule.monday ? 'active' : 'deactivate'}}"><span>M</span></span>
												<span class="text-week {{active_pickup_rule.tuesday ? 'active' : 'deactivate'}}"><span>T</span></span>
												<span class="text-week {{active_pickup_rule.wednesday ? 'active' : 'deactivate'}}"><span>W</span></span>
												<span class="text-week {{active_pickup_rule.thursday ? 'active' : 'deactivate'}}"><span>T</span></span>
												<span class="text-week {{active_pickup_rule.friday ? 'active' : 'deactivate'}}"><span>F</span></span>
											</td>
											<td md-cell class="bg-remove">
												<div>
													<a ng-click="vm.deletePickupRule(active_pickup_rule)">
														<img src="./css/images/remove-ico.png" alt="remove-ico"/>
													</a>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="view-all" ng-if="!vm.hide_active_pickup_rules" ng-show="vm.pickup.active_pickup_rules.last_page > 1">
										<md-button class="md-raised md-primary md-button md-ink-ripple btn-view-all" ng-click="vm.getAllActivePickupRulesOfTypeRule(vm.pickup.type_active_pickup_rules)"> {{vm.lang.get('label.load_more')}} </md-button>
										<br class="clear"></br>
									</div>
								</md-table-container>
							</md-tab>
							<md-tab class="title-positive-tab" label="{{vm.lang.get('label.pickup_rule_exired_pickup_messages')}}">
								<md-table-container class="pickup-rules-list">
									<table md-table md-row-select class="table-pickup-rules-list">
										<tbody md-body>
										<tr md-row ng-repeat="deactive_pickup_rule in vm.pickup.deactive_pickup_rules.data">
											<td md-cell>
												<span class="icon-text"><span>TS</span></span>
												<div class="text-date-time">
													<div>
														<div class="text"><span>{{deactive_pickup_rule.text}}</span></div>
														<div class="date">
															<span>{{deactive_pickup_rule.date_start | date: 'dd-mm-YYYY'}}</span>
															<span>{{deactive_pickup_rule.date_end | date: 'dd-mm-YYYY'}}</span>
														</div>
														<div class="time"><span>{{deactive_pickup_rule.time}}</span></div>
													</div>
												</div>
											</td>
											<td md-cell>
												<span class="text-week {{deactive_pickup_rule.monday ? 'active' : 'deactivate'}}"><span>M</span></span>
												<span class="text-week {{deactive_pickup_rule.tuesday ? 'active' : 'deactivate'}}"><span>T</span></span>
												<span class="text-week {{deactive_pickup_rule.wednesday ? 'active' : 'deactivate'}}"><span>W</span></span>
												<span class="text-week {{deactive_pickup_rule.thursday ? 'active' : 'deactivate'}}"><span>T</span></span>
												<span class="text-week {{deactive_pickup_rule.friday ? 'active' : 'deactivate'}}"><span>F</span></span>
											</td>
											<td md-cell class="bg-remove">
												<div>
													<a ng-click="vm.deletePickupRule(deactive_pickup_rule)">
														<img src="./css/images/remove-ico.png" alt="remove-ico"/>
													</a>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="view-all" ng-if="!vm.hide_deactive_pickup_rules" ng-show="vm.pickup.deactive_pickup_rules.last_page > 1">
										<md-button class="md-raised md-primary md-button md-ink-ripple btn-view-all btn-view-all-deactive" ng-click="vm.getAllDeactivePickupRulesOfTypeRule('vm.pickup.type_deactive_pickup_rules')"> {{vm.lang.get('label.load_more')}} </md-button>
										<br class="clear"></br>
									</div>
								</md-table-container>
							</md-tab>
						</md-tabs>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>