@import "./angular/material/project";
.clear {
  clear: both;
}
.btn-cancel {
  background-color: #fcaf35 !important;
}
.btn-submit {
  background-color: #3f515c !important;
  padding-left: 15px;
  padding-right: 15px;
}
.pickup-rules-component {
  position: relative;
  .pickup-from-send-message
  {
    margin-right: 20px;
    padding: 20px 30px;
    color: #3F525D;
    .header{
      font-size: 1.786em;
      margin-bottom: 20px;
    }
    .date {
      background: #fff;
      margin-bottom: 10px;
    }
    .textarea {
      background: #fff;
      padding: 1px 10px 0px 20px;
      textarea {
        height: 200px !important;
      }
    }
    .action-button {
      text-align: right;
    }
  }
  .pickup-rule-overview {
    padding: 30px 50px;
    color: #3F525D;
    .header{
      font-size: 1.786em;
      margin-bottom: 30px;
      .icon {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: table-cell;
        vertical-align: middle;
        background: #3f515c;
        img {
          opacity: 0.5;
          content: "";
          position: absolute;
          top: 30%;
          left: 25%;
          bottom: 0;
          right: 0;
          z-index: 1;
          width: 50%;
        }
      }
      .text {
        display: table-cell;
        vertical-align: middle;
        span {
          margin-left: 20px;
        }
      }
    }
    md-tabs {
      md-tabs-wrapper {
        .md-active{
          background-color: #8ca6b0;
          color:white;
        }
        md-pagination-wrapper{
          width: 100% !important;
          background-color: white;
          border-bottom: 2px solid #8ca6b0;
          md-tab-item {
            width: 50%;
          }
          md-ink-bar {
            display: none;
          }
        }
      }
      md-tabs-content-wrapper {
        .pickup-rules-list {
          display: block;
          padding: 15px 20px;
          position: relative;
          background-color: rgba(255, 255, 255, 0.3);
          table {
            width:100%;
            border-collapse: separate;
            border-spacing: 0 1em;
            tr {
              background: #fff;
              td {
                .inline-block-middle {
                  content: "";
                  display: inline-block;
                  vertical-align: middle;
                  height: 100%;
                  width: 100%;
                }
                span.icon-text {
                  display: inline-block;
                  vertical-align: middle;
                  span {
                    border-radius: 50%;
                    background: #7bf4fb;
                    padding: 5px 7px;
                    font-weight: bold;
                  }
                }
                .text-date-time {
                  display: inline-block;
                  vertical-align: middle;
                  width: 85%;
                  > div {
                    margin-left: 10px;
                    .text {
                      color: #40a1f7;
                    }
                    .date {
                      color: #9e9e9e;
                    }
                    .time {
                      color: #40a1f7;
                      font-weight: bold;
                    }
                  }
                }
                .text-week {
                  position: relative;
                  margin-right: 5px;
                }
                .text-week.deactivate {
                  span {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    color: white;
                    border-radius: 15px;
                    line-height: 30px;
                    font-size: 12px;
                    background-color: #a2a2a2;
                  }
                }
                .text-week.active {
                  span {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    color: white;
                    border-radius: 15px;
                    line-height: 30px;
                    font-size: 12px;
                    background-color: #40a1f7;
                  }
                }
                .text-week:last-child {
                  margin-right: 0px;
                }
              }
              td:nth-child(1) {
                padding:5px 10px;
                vertical-align: middle;
                width:50%
              }
              td:nth-child(2) {
                padding:5px 10px;
              }
              td.bg-remove {
                background: #F7406A;
                width: 60px;
                text-align: center;
              }
            }
          }
          .view-all {
            display: block;
            button.btn-view-all {
              float: right;
              background: #3f525d;
            }
          }
        }
      }

    }
    .info {
      font-family: 'Open Sans';
      font-size: 1.143em;
      line-height: 1.857em;
    }
    .name {
      font-size: 2.143em;
    }

  }
}