<div class="enrollment-group-details-component">
    <h2 ng-if="!vm.model.date_activated">{{vm.lang.get('label.new_registration_group')}}</h2>
    <h2 ng-if="vm.model.date_activated">{{vm.lang.get('label.registration_group')}}: {{vm.model.name}}</h2>
    <div class="group-content">
        <div class="row">
            <div class="col-md-3 left-panel">
                <div class="group-details"  ng-show="!vm.editing">
                    <div class="form-group">
                        <span>{{vm.model.name}}</span>
                    </div>
                    <h3>{{vm.lang.get('label.time')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_visible_in_portal')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDate(vm.model.date_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_random_enrollment')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDate(vm.model.enrollment_date_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.instruction_text_random_booking_period')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.description_random_allocation | limitTo: 50 }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_direct_entry')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDate(vm.model.direct_entry_date_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.instruction_text_direct_booking_period')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.description_direct_entry | limitTo: 50 }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_withdraw')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDate(vm.model.withdraw_date_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_sending_message')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDateTime(vm.model.time_sending_message_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_publication')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.formatDateTime(vm.model.time_publish_allocation_range) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_in_random_registration')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.maximum_course_random_registration }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_allocated_in_random_distribution')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.maximum_course_random_distribution }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_registered_in_direct_entry')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.maximum_course_direct_registration }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_per_child')}}
                        </label>
                        <div class="control">
                            <span>{{ vm.model.participant_activities_maximum }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="title">{{vm.lang.get('label.form')}}</h5>
                        <div class="form-group">
                            <a class="btn btn-primary" outer-link="/#/MessagesHandler/CreateMessage?resource_id={{vm.model.id}}&resource_type=enrollmentgroup&delivery_method=Email"><i class="glyphicon glyphicon-send"></i> {{vm.lang.get('message.send_message_to_participants')}}</a>
                        </div>
                    </div>
                    <div class="form-group action-group">
                        <a ng-click="vm.changeEditingMode()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            {{vm.lang.get('label.edit_registration_group')}}
                        </a><br>
                        <a ng-click="vm.delete()" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            {{vm.lang.get('label.delete_registration_group')}}
                        </a><br>
                        <a ng-click="vm.archive()" class="btn btn-success" ng-if="!vm.model.date_archived">
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                            {{vm.lang.get('label.archive')}}
                        </a>
                        <a ng-click="vm.restore()" class="btn btn-success" ng-if="vm.model.date_archived">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            {{vm.lang.get('label.recover')}}
                        </a>
                    </div>
                </div>
                <div class="group-details"  ng-show="vm.editing">
                    <div class="form-group">
                        <input type="text" class="form-control" class="form-control" placeholder="{{vm.lang.get('label.registration_group')}} {{vm.lang.get('label.name')}}" ng-model="vm.model.name" >
                    </div>
                    <h3>{{vm.lang.get('label.time')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_visible_in_portal')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control date-picker" date-range-picker
                                   ng-model="vm.model.date_range" options="vm.date_opts" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_random_enrollment')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control date-picker" date-range-picker
                                   ng-model="vm.model.enrollment_date_range" min="vm.model.date_range.startDate"
                                   max="vm.model.date_range.endDate" options="vm.date_opts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.instruction_text_random_booking_period')}}
                        </label>
                        <div class="control">
                            <textarea ng-model="vm.model.description_random_allocation" rows="5" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" aria-invalid="false" ng-trim="false" style="width: 100%"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_direct_entry')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control date-picker" date-range-picker
                                   ng-model="vm.model.direct_entry_date_range" min="vm.model.enrollment_date_range.endDate"
                                   max="vm.model.date_range.endDate" options="vm.date_opts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.instruction_text_direct_booking_period')}}
                        </label>
                        <div class="control">
                            <textarea ng-model="vm.model.description_direct_entry" rows="5" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" aria-invalid="false" ng-trim="false"  style="width: 100%"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_withdraw')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control date-picker" date-range-picker
                                   ng-model="vm.model.withdraw_date_range" min="vm.model.date_range.startDate"
                                   max="vm.model.date_range.endDate" options="vm.date_opts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_sending_message')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control date-picker-time" date-range-picker
                                   ng-model="vm.model.time_sending_message_range" min="vm.model.date_range.startDate"
                                   max="vm.model.date_range.endDate" options="vm.date_time_opts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time_for_publication')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control date-picker-time" date-range-picker
                                   ng-model="vm.model.time_publish_allocation_range" min="vm.model.date_range.startDate"
                                   max="vm.model.date_range.endDate" options="vm.date_time_opts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_in_random_registration')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control" ui-mask="9"
                                   ng-model="vm.model.maximum_course_random_registration">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_allocated_in_random_distribution')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control" ui-mask="9"
                                   ng-model="vm.model.maximum_course_random_distribution">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_registered_in_direct_entry')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" class="form-control" ui-mask="9"
                                   ng-model="vm.model.maximum_course_direct_registration">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.maximum_number_of_course_per_child')}}
                        </label>
                        <div class="control">
                            <select ng-model="vm.model.participant_activities_maximum">
                                <option ng-repeat="item in vm.max_participants" value="{{item.value}}">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.default')}}
                        </label>
                        <div class="control">
                            <md-checkbox
                                    ng-model="vm.model.is_default"
                                    aria-label="Default"
                                    ng-true-value="true"
                                    ng-false-value="false"
                                    class="md-primary md-align-top-left" flex>
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="form-group action-group">
                        <a ng-click="vm.update()" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            {{vm.lang.get('label.save')}}
                        </a>
                        <a ng-click="vm.changeEditingMode()" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {{vm.lang.get('label.cancel')}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" ng-if="vm.activity_list">
                <teacher-overview-activity></teacher-overview-activity>
            </div>
            <div class="col-md-9" ng-if="!vm.activity_list">
                <teacher-simulation-activity></teacher-simulation-activity>
            </div>
        </div>
    </div>
</div>