<md-dialog class="add-course-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.model.name ? vm.lang.get('label.course') + ': ' + vm.model.name : vm.lang.get('label.new_course')}}</h3>
    </div>
    <md-divider></md-divider>
    <form class="add-course" ng-submit="vm.save()">
        <div class="form-group">
            <div class="control">
                <input type="text" class="form-control name" placeholder="Kurset sitt navn" ng-model="vm.model.name" />
            </div>
        </div>
        <div class="form-group">
            <div class="control">
                <textarea class="form-control description" placeholder="Skriv inn en beskrivelse her" ng-model="vm.model.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Kurs detaljer</label>
            <div class="control">
                <select class="school-course-details" name="details" ng-model="vm.model.post_detail_id" style="width: 200px">
                    <option value="">{{vm.lang.get('label.select')}}</option>
                    <option value="{{post.id}}" ng-repeat="post in vm.posts">{{post.post_title}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Fag</label>
            <div class="control">
                <select class="school-course-type" name="subject" ng-model="vm.model.subject" style="width: 200px">
                    <option value="">Velg</option>
                    <option value="{{s.code}}" ng-repeat="s in vm.subjects">{{s.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Årstrinn</label>
            <div class="control year-grade-group">
                <select class="year-grade-minimum" name="year_grade_minimum" ng-model="vm.model.year_grade_minimum" ng-options="n for n in vm.range(1,13) track by n">
                    <option value="">Min</option>
                </select>
                <select class="year-grade-maximum" name="year_grade_maximum" ng-model="vm.model.year_grade_maximum" ng-options="n for n in vm.range(1,13) track by n">
                    <option value="">Max</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Aldersgruppe</label>
            <div class="control">
                <input type="text" class="form-control date-picker" date-range-picker ng-model="vm.model.date_range" options="vm.opts"/>
            </div>
        </div>

        <div class="modal-actions">
            <input class="btn btn-blue" type="submit" value="{{vm.lang.get('label.save')}}" />
            <input class="btn btn-success" ng-if="vm.model.active && !vm.model.date_deleted" ng-click="vm.delete()" value="{{vm.lang.get('label.archive')}}" />
            <input class="btn btn-success" ng-if="vm.model.date_deleted" ng-click="vm.restore()" value="{{vm.lang.get('label.restore')}}" />
        </div>
    </form>
</md-dialog>