<div class="profile-component">
	<div class="avatar">
		<img ng-src="{{vm.profile.image}}" alt="avatar"/>
	</div>
	<div class="profile" ng-switch on="vm.editing">
		<div ng-switch-when="false">
			<div class="edit-link" ng-if="vm.editing == false && vm.permissions.mobilephone && vm.permissions.guardianportal_main == false"><a ng-click="vm.turnOnOffEditing()">
				<md-icon md-font-library="material-icons">edit</md-icon>{{vm.permissions.mobilephone && !vm.permissions.email ? vm.lang.get('label.guardian_profile_field_editmobilephone') : vm.lang.get('label.guardian_profile_field_edit_email_and_mobilephone')}}
			</a></div>
			<div class="name" ng-if="vm.editing == false">
				{{vm.profile.firstname}} {{vm.profile.surname}}
			</div>
			<div class="info email" ng-show="vm.profile.email">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">email</md-icon></div><div flex="85">{{vm.lang.get('label.email')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content"><a href="mailto:{{vm.profile.email}}" title="{{vm.profile.email}}">{{vm.profile.email}}</a></div></div>
			</div>
			<div class="info phone" ng-show="vm.profile.mobilephone">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">smartphone</md-icon></div><div flex="85">{{vm.lang.get('label.mobilephone')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content">{{vm.profile.mobilephone}}</div></div>
			</div>
			<div class="info phone" ng-show="vm.profile.telephone">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">phone</md-icon></div><div flex="85">{{vm.lang.get('label.telephone')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content">{{vm.profile.telephone}}</div></div>
			</div>
			<div class="info address" ng-show="vm.profile.address">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">location_city</md-icon></div><div flex="85">{{vm.lang.get('label.address')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content">{{vm.profile.address}}</div></div>
			</div>
			<div class="info postal-code" ng-show="vm.profile.postal_code">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">drafts</md-icon></div><div flex="85">{{vm.lang.get('label.postal_code')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content">{{vm.profile.postal_code}}</div></div>
			</div>
			<div class="info postal-name" ng-show="vm.profile.postal_name">
				<div layout="row"><div flex="15"><md-icon md-font-library="material-icons">person</md-icon></div><div flex="85">{{vm.lang.get('label.postal_name')}}</div></div>
				<div layout="row"><div flex="15"></div><div flex="85" class="info-content">{{vm.profile.postal_name}}</div></div>
			</div>
		</div>
		<div ng-switch-default>
			<md-input-container ng-if="vm.permissions.email">
				<label>{{vm.lang.get('label.email')}}</label>
				<input ng-model="vm.profile.email" type="text">
			</md-input-container>
			<md-input-container ng-if="vm.permissions.mobilephone">
				<label>{{vm.lang.get('label.mobilephone')}}</label>
				<input ng-model="vm.profile.mobilephone" type="text">
			</md-input-container>
			<!--<md-input-container>-->
				<!--<label>{{vm.lang.get('label.telephone')}}</label>-->
				<!--<input ng-model="vm.profile.telephone" type="text">-->
			<!--</md-input-container>-->
			<div>
				<button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="vm.updateProfileInfo()">
					<span class="ng-scope">{{vm.lang.get('label.save')}}</span><div class="md-ripple-container"></div>
				</button>
				<button class="md-raised md-button md-ink-ripple" type="button" ng-click="vm.turnOnOffEditing()">
					<span class="ng-scope">{{vm.lang.get('label.cancel')}}</span><div class="md-ripple-container"></div>
				</button>
			</div>
		</div>
	</div>
</div>