.location-map-dialog {
    width: 500px;

    .modal-header .modal-close {
        padding: 10px 20px;
        margin: 0px;
        font-size: 18px;
        float: right;
        color: #AAA;
        cursor: pointer;
    }

    .modal-content {
        height:350px;
        overflow-y: auto;
        ng-map{
            height: 100%;
            width: 100%;
        }
    }
}