<md-dialog class="location-map-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.school_name}}</h3>
    </div>
    <div class="modal-content" ng-if="vm.school_location">
        <ng-map center="[{{vm.school_location.latitude}}, {{vm.school_location.longitude}}]" zoom="14">
            <marker position="{{vm.school_location.latitude}},{{vm.school_location.longitude}}" title="{{vm.school_name}}"></marker>
        </ng-map>
    </div>
</md-dialog>