<div class="summer-booking-component" ng-if="vm.enroll_groups">
	<div layout="row" layout-align="center center">
		<span class="select-group"><h4><b>{{vm.lang.get('label.enrollment_groups')}}</b></h4></span>
		<md-select ng-model="vm.selectedGroup" placeholder="{{vm.lang.get('label.enrollment_groups')}}" class="enrollment-groups" ng-change="vm.changeEnrollmentGroup()">
			<md-option ng-value="group.id" ng-repeat="group in vm.enroll_groups" ng-if="$first" selected>{{group.name}}</md-option>
			<md-option ng-value="group.id" ng-repeat="group in vm.enroll_groups" ng-if="!$first">{{group.name}}</md-option>
		</md-select>
	</div>
	<div class="filter">
		<div>
			<h4 class="col-md-4"><b>{{vm.lang.get('label.sort_courses')}}</b></h4>
			<span class="col-md-8 expand-icon">
				<md-icon md-font-library="material-icons" class="md-36 md-button" ng-click="vm.expandCourses = !vm.expandCourses" ng-if="vm.expandCourses">expand_more</md-icon>
				<md-icon md-font-library="material-icons" class="md-36 md-button" ng-click="vm.expandCourses = !vm.expandCourses" ng-if="!vm.expandCourses">expand_less</md-icon>
			</span>
		</div>
		<div class="clearfix"></div>
		<div layout="column" class="filter-content" >
			<div ng-if="!vm.expandCourses">
				<div class="step-container col-md-12">
					<span class="normal-title col-md-2">{{vm.lang.get('label.filter_choose_week')}}</span>
					<ul class="step col-md-10">
						<li class="step-0 {{vm.week_active == '' ? 'week_active' : ''}}" ng-click="vm.week_filter = NULL;vm.setActiveWeek('')">{{vm.lang.get('label.alle')}}</li>
						<li class="step-0 {{vm.week_active.indexOf(week.start_week) !== -1 ? 'week_active' : ''}}" ng-click="vm.setActiveWeek(week.start_week);vm.week_filter = vm.filterWeek(week.start_week);" ng-repeat="week in vm.schedule"><span class="week-number">{{vm.lang.get('label.week')}} {{week.start_week}}</span> ({{week.date_of_week.date_start +"-"+week.date_of_week.date_end}})</li>
					</ul>
				</div>
				<div class="grade-container col-md-12">
					<span class="normal-title col-md-2">{{vm.lang.get('label.filter_grade')}}</span>
					<ul class="grade col-md-10">
						<li class="grade-0 {{vm.grade_active == '' ? 'grade_active' : ''}}" ng-click="vm.grade_filter = NULL;vm.setActiveGrade('')">{{vm.lang.get('label.alle')}}</li>
						<li class="grade-0 {{vm.grade_active.indexOf(1) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(1);vm.grade_filter = vm.filterGradeRange(1);">1</li>
						<li class="grade-0 {{vm.grade_active.indexOf(2) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(2);vm.grade_filter = vm.filterGradeRange(2);">2</li>
						<li class="grade-0 {{vm.grade_active.indexOf(3) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(3);vm.grade_filter = vm.filterGradeRange(3);">3</li>
						<li class="grade-0 {{vm.grade_active.indexOf(4) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(4);vm.grade_filter = vm.filterGradeRange(4);">4</li>
						<li class="grade-0 {{vm.grade_active.indexOf(5) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(5);vm.grade_filter = vm.filterGradeRange(5);">5</li>
						<li class="grade-0 {{vm.grade_active.indexOf(6) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(6);vm.grade_filter = vm.filterGradeRange(6);">6</li>
						<li class="grade-0 {{vm.grade_active.indexOf(7) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(7);vm.grade_filter = vm.filterGradeRange(7);">7</li>
						<li class="grade-0 {{vm.grade_active.indexOf(8) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(8);vm.grade_filter = vm.filterGradeRange(8);">8</li>
						<li class="grade-0 {{vm.grade_active.indexOf(9) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(9);vm.grade_filter = vm.filterGradeRange(9);">9</li>
						<li class="grade-0 {{vm.grade_active.indexOf(10) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(10);vm.grade_filter = vm.filterGradeRange(10);">10</li>
						<li class="grade-0 {{vm.grade_active.indexOf(11) !== -1 ? 'grade_active' : ''}}" ng-click="vm.setActiveGrade(11);vm.grade_filter = vm.filterGradeRange(11);">VGS</li>
					</ul>
				</div>
				<div class="subject-container col-md-12">
					<span class="normal-title col-md-2">{{vm.lang.get('label.filter_subject')}}</span>
					<ul class="subject col-md-10">
						<li class="subject-0 {{vm.subject_active == '' ? 'subject_active' : ''}}" ng-click="vm.course_filter = NULL; vm.setActiveSubject('')">{{vm.lang.get('label.alle')}}</li>
						<li class="subject-0 {{vm.subject_active.indexOf(subject.code) !== -1 ? 'subject_active' : ''}}" ng-repeat="subject in vm.subjects" ng-click="vm.setActiveSubject(subject.code); vm.course_filter = vm.filterSubject();">{{subject.name}}</li>
					</ul>
				</div>
				<div>
					<div class="school-container">
						<span class="normal-title">{{vm.lang.get('label.filter_select_your_school')}}</span>
						<div class="school-search">
							<md-autocomplete
									md-selected-item="vm.selectedItem"
									md-search-text-change="vm.searchTextChange(vm.searchText); vm.distance_filter = vm.changeDistance()"
									md-search-text="vm.searchText"
									md-selected-item-change="vm.selectedItemChange(item)"
									md-items="item in vm.querySearch(vm.searchText) | orderBy: 'name'"
									md-item-text="item.name"
									md-min-length="0"
									md-autoselect=true
									placeholder="Skole">
								<md-item-template>
									<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
								</md-item-template>
								<md-not-found>
									No states matching "{{vm.searchText}}" were found.
								</md-not-found>
							</md-autocomplete>
						</div>
					</div>
					<div class="school-container">
						<span class="normal-title">{{vm.lang.get('label.select_filter_school')}}</span>
						<div class="school-search">
							<md-autocomplete
									md-selected-item="vm.courseLocationSelected"
									md-search-text-change="vm.searchTextChange(vm.searchCourseLocation); vm.course_location_filter = vm.filterCourseLocation()"
									md-search-text="vm.searchCourseLocation"
									md-selected-item-change="vm.selectedItemChange(item)"
									md-items="item in vm.querySearchCourseLocation(vm.searchCourseLocation) | orderBy: 'name'"
									md-item-text="item.name"
									md-min-length="0"
									md-autoselect=true
									placeholder="Kurssted">
								<md-item-template>
									<span md-highlight-text="vm.searchCourseLocation" md-highlight-flags="^i">{{item.name}}</span>
								</md-item-template>
								<md-not-found>
									No states matching "{{vm.searchText}}" were found.
								</md-not-found>
							</md-autocomplete>
						</div>
					</div>
				</div>
				<div class="distance-container">
					<span class="normal-title">{{vm.lang.get('label.filter_distance')}}</span>
					<div class="distance">
						<md-slider flex min="0" max="{{vm.max_distance}}" class="md-primary" md-discrete ng-model="vm.distance" aria-label="blue" id="blue-slider" ng-change="vm.distance_filter = vm.changeDistance()">
						</md-slider>
					</div>
					<span class="normal-title">{{vm.lang.get('label.distance_right')}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="line-break">
		<h4 class="col-md-6"><b><i>{{vm.lang.get('label.number_available_courses', {number: data_filtered.length})}}</i></b></h4>
		<div class="courses-available-container col-md-6" ng-if="vm.enroll_groups[vm.group_active].direct_entry == true">
			<ul class="course-available">
				<li class="{{vm.courses_available_active == '' ? 'active' : ''}}" ng-click="vm.available_filter = NULL;vm.setActiveAvailable('')">{{vm.lang.get('label.alle')}}</li>
				<li class="{{vm.courses_available_active == 1 ? 'active' : ''}}" ng-click="vm.setActiveAvailable(1);vm.available_filter = vm.filterCoursesAvailableSpaces();">{{vm.lang.get('label.show_courses_available')}}</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="line-break"><div layout="column"></div></div>
	<div class="activities-course" ng-repeat="course in vm.activities_course | filter:vm.course_filter | filter:vm.grade_filter | filter:vm.week_filter | filter:vm.distance_filter | filter:vm.course_location_filter | filter:vm.available_filter as data_filtered">
		<div layout="column" class="course-content" ng-init="course.show = vm.checkFilterExist()">
			<div class="course-item" layout="row" ng-style="{background:course.subject_color}">
				<div class="col-md-8">
					<div><h3><md-icon md-font-library="material-icons" ng-if="course.course_type_code == 'SOMMERSKOLEN_SPECIAL_COURSE'">grain</md-icon>{{course.name}} for {{course.year_grade_minimum}}-{{course.year_grade_maximum}}. trinn</h3></div>
				</div>
				<div class="col-md-4">
					<span class="md-primary md-raised button-view-detail" ng-click="course.show = !course.show">
						<md-icon md-font-library="material-icons" ng-if="!course.show">expand_more</md-icon><md-icon md-font-library="material-icons" ng-if="course.show">expand_less</md-icon>
						<span class="button-detail-label">{{vm.lang.get('label.total_location', {number: vm.getNumberOfLocation(course.activities_school)})}}</span>
					</span>
				</div>
			</div>
			<div ng-show="course.show" class="course-detail" ng-if="course.description != NULL">
				<div class="row">
					<div class="span4">
						<img ng-if="course.image" class="course-image" width="130" height="130" src="/img/profile/00000-00000-00000-00000"/>
						<!--<div class="content-heading"><h3>{{course.name}}</h3></div>-->
						<p>{{course.description}}</p>
					</div>
				</div>
			</div>
			<div ng-show="course.show" ng-if="course.course_type_code == 'SOMMERSKOLEN_ORDINARY_COURSE'">
				<table class="course-list-detail">
					<tr>
						<th>Tilgjengelige kurssteder</th>
						<th ng-repeat="week in vm.schedule">Uke {{week.start_week}}</th>
					</tr>
					<tr ng-repeat="activity_school in course.activities_school"
						ng-if="vm.distance >= vm.getDistance(activity_school.school.gps_coordinates.latitude, activity_school.school.gps_coordinates.longitude, vm.selectedItem.gps_coordinates.latitude, vm.selectedItem.gps_coordinates.longitude, 'K')
								&& (vm.week_active == '' || vm.checkOverlapArray(vm.week_active, activity_school.weeks).length >0)
								&& (vm.courseLocationSelected == null || vm.courseLocationSelected.id == activity_school.school.id)
								&& (vm.courses_available_active == '' || vm.checkAvailableInside(activity_school)) == true">
						<td>{{activity_school.school.name}}
							<span class="distance-text-location"><md-icon md-font-library="material-icons" ng-click="vm.showLocationMap(activity_school.school.name, activity_school.school.gps_coordinates)">place</md-icon>
						({{vm.numberWithCommas(vm.getDistance(activity_school.school.gps_coordinates.latitude, activity_school.school.gps_coordinates.longitude, vm.selectedItem.gps_coordinates.latitude, vm.selectedItem.gps_coordinates.longitude, 'K') | number:1)}}{{vm.lang.get('label.distance_from_home')}})
							</span>
						</td>
						<td ng-repeat="week in vm.schedule">
							<!--show legg til-->
							<span ng-repeat="activity in activity_school.activities"
								  ng-if="activity.week == week.start_week && activity.in_activity == false && vm.enroll_groups[vm.group_active].allow_booking == true"> <!--vm.confirmActivity(activity.id, activity)-->
								<!--random allocation-->
								<span class="radius-block" ng-if="vm.enroll_groups[vm.group_active].random_allocation == false && vm.enroll_groups[vm.group_active].direct_entry == false
																	&& vm.enroll_groups[vm.group_active].interested_booking == true" ng-click="vm.goToBooking()">{{vm.lang.get('label.btn_register')}}</span>
								<!--direct entry-->
								<span class="radius-block" ng-if="vm.enroll_groups[vm.group_active].direct_entry == true && (activity.available_space > 0 || activity.allow_waiting)" ng-click="vm.goToBooking()">
									{{vm.lang.get('label.btn_register')}}
								</span>
								<!--show available or number on waiting list status-->
								<span class="status-booking" ng-if="activity.available_space > 0 && vm.enroll_groups[vm.group_active].direct_entry == true">{{vm.lang.get(activity.available_space > 1 ? 'label.available_spaces' : 'label.available_space', {number:activity.available_space})}}</span>
								<span class="status-booking" ng-if="activity.available_space <= 0 && activity.on_waiting_list !== 0 && vm.enroll_groups[vm.group_active].direct_entry == true">{{vm.lang.get('label.on_waiting_list', {number:activity.on_waiting_list})}}</span>
								<span class="status-booking" ng-if="activity.on_waiting_list == 0
										&& activity.available_space <= 0
										&& vm.enroll_groups[vm.group_active].direct_entry == true
										&& activity.allow_waiting == true">{{vm.lang.get('label.activity_full_slot_allow_waiting')}}</span>
								<span class="status-booking" ng-if="activity.on_waiting_list == 0
										&& activity.available_space <= 0
										&& vm.enroll_groups[vm.group_active].direct_entry == true
										&& !activity.allow_waiting">{{vm.lang.get('label.activity_full_slot_non_waiting')}}</span>
							</span>
							<!--disabled legg til-->
							<!--<span class="radius-block-disabled" ng-repeat="activity in activity_school.activities" ng-if="activity.week == week.start_week && activity.in_activity == true">{{vm.lang.get('label.status_booked')}}</span>-->
							<span class="radius-block-disabled" ng-repeat="activity in activity_school.activities"
								  ng-if="activity.week == week.start_week && vm.enroll_groups[vm.group_active].direct_entry == false && (vm.enroll_groups[vm.group_active].random_allocation == true || vm.enroll_groups[vm.group_active].allow_booking == false || vm.enroll_groups[vm.group_active].interested_booking == false)">
								{{vm.lang.get('label.btn_register')}}
							</span>
						</td>
					</tr>
				</table>
			</div>
			<div ng-show="course.show" ng-if="course.course_type_code == 'SOMMERSKOLEN_SPECIAL_COURSE'">
				<table class="course-list-detail">
					<tr ng-repeat="activity_school in course.activities_school"
						ng-init="get_distance = vm.getDistance(activity_school.school.gps_coordinates.latitude, activity_school.school.gps_coordinates.longitude, vm.selectedItem.gps_coordinates.latitude, vm.selectedItem.gps_coordinates.longitude, 'K')"
						ng-if="vm.distance >= vm.getDistance(activity_school.school.gps_coordinates.latitude, activity_school.school.gps_coordinates.longitude, vm.selectedItem.gps_coordinates.latitude, vm.selectedItem.gps_coordinates.longitude, 'K')
								&& (vm.week_active == '' || vm.checkArrayRangeInside(vm.week_active, activity_school.week_start, activity_school.week_end) === true)
								&& (vm.courseLocationSelected == null || vm.courseLocationSelected.id == activity_school.school.id)
								&& (vm.courses_available_active == '' || activity_school.available_space > 0)">
						<td>{{activity_school.school.name}}
							<span class="distance-text-location"><md-icon md-font-library="material-icons" ng-click="vm.showLocationMap(activity_school.school.name, activity_school.school.gps_coordinates)">place</md-icon>
							({{vm.numberWithCommas(vm.getDistance(activity_school.school.gps_coordinates.latitude, activity_school.school.gps_coordinates.longitude, vm.selectedItem.gps_coordinates.latitude, vm.selectedItem.gps_coordinates.longitude, 'K') | number:1)}}{{vm.lang.get('label.distance_from_home')}})
							</span>
						</td>
						<td>Uke {{activity_school.week_start}}{{activity_school.week_start != activity_school.week_end ? "-"+activity_school.week_end : ""}}</td>
						<td>
							<span ng-if="activity_school.in_activity == false && vm.enroll_groups[vm.group_active].allow_booking == true">
								<span class="radius-block" ng-if="vm.enroll_groups[vm.group_active].direct_entry == true" ng-click="vm.goToBooking()">{{vm.lang.get('label.btn_register')}}</span>
								<!--show available or number on waiting list status-->
								<span ng-if="activity_school.available_space > 0 && vm.enroll_groups[vm.group_active].direct_entry == true">{{vm.lang.get(activity.available_space > 1 ? 'label.available_spaces' : 'label.available_space', {number:activity_school.available_space})}}</span>
								<span ng-if="activity_school.available_space <= 0 && activity_school.on_waiting_list !== 0 && vm.enroll_groups[vm.group_active].direct_entry == true">{{vm.lang.get('label.on_waiting_list', {number:activity_school.on_waiting_list})}}</span>
								<span ng-if="activity_school.on_waiting_list == 0
										&& activity_school.available_space <= 0
										&& vm.enroll_groups[vm.group_active].direct_entry == true
										&& activity_school.allow_waiting == true">{{vm.lang.get('label.activity_full_slot_allow_waiting')}}</span>
								<span ng-if="activity_school.on_waiting_list == 0
										&& activity_school.available_space <= 0
										&& vm.enroll_groups[vm.group_active].direct_entry == true
										&& !activity_school.allow_waiting">{{vm.lang.get('label.activity_full_slot_non_waiting')}}</span>
							</span>
							<!--disabled legg til-->
							<!--<span class="radius-block-disabled" ng-if="activity_school.in_activity == true">{{vm.lang.get('label.status_booked')}}</span>-->
							<span class="radius-block-disabled" ng-if="vm.enroll_groups[vm.group_active].random_allocation == true || vm.enroll_groups[vm.group_active].allow_booking == false || vm.enroll_groups[vm.group_active].direct_entry == false">{{vm.lang.get('label.btn_register')}}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>