<md-content class="Page-container profile-page">
	<div layout="row">
		<div flex="35">
			<guardian-pupil-profile></guardian-pupil-profile>
			<guardian-import-emails></guardian-import-emails>
		</div>
		<div flex="65">
			<guardian-consent></guardian-consent>
			<guardian-notification-setting></guardian-notification-setting>
			<guardian-precaution></guardian-precaution>
			<guardian-remark></guardian-remark>
		</div>
	</div>
</md-content>
