<div class="header">
	<div class="header-top">
		<div class="schoollink-logo">
			<img src="css/images/schoollink-logo.png" alt="Schoollink"/>
		</div>
		<div class="container">
			<div layout="row" class="header-logo" layout-align="center">
				<div flex="20">
					<span class="contrast">Skrift/konstrast</span>
				</div>
				<div flex="60">
					<div class="municipality">
						<img ng-src="/img/profile/{{vm.school_owner.image_id}}" alt="{{vm.school_owner.name}}">
						<div class="municipality-name">
							<div class="title">{{vm.lang.get('label.digital_sign_book')}}</div>
							<div class="school-owner">{{vm.school_owner.name}}</div>
						</div>
					</div>
				</div>
				<div flex="20">
					<div class="avatar" ng-if="vm.user.image_id">
						<img ng-src="/img/profile/{{vm.user.image_id}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-menu">
		<div class="container">
			<div layout="row">
				<div flex="70">
					<ul class="pupil">
						<li ng-repeat="pupil in vm.pupils">
							<a ng-click="vm.changePupil(pupil)" title="{{pupil.title}}">
								<div class="avatar-container">
									<div ng-if="pupil.image_id" class="avatar pupil-img">
										<img ng-src="{{pupil.image_id}}"/>
									</div>
									<div ng-if="!pupil.image_id" class="avatar pupil-img">
										<img class="avarta-child" src="/guardian/img/design/avar.png">
									</div>
									<span class="name color-{{$root.getColor(pupil.user_id)}}">{{pupil.title}}</span>
								</div>

								<span class="pupil-name">{{pupil.name}}</span>
							</a>
						</li>
					</ul>
				</div>
				<div flex="30">
					<guardian-weather></guardian-weather>
				</div>
			</div>
			<div layout="row">
				<ul class="menu">
					<li class="menu-item" ng-if="vm.permissions.school && !vm.permissions.parent">
						<a href="" class="menu-link">
							<img src="./css/images/register-absence.png" alt="{{vm.lang.get('label.register_absence')}}"/>
							<span>{{vm.lang.get('label.register_absence')}}</span>
						</a>
					</li>
					<li class="menu-item">
						<a href="" class="menu-link">
							<img src="./css/images/new-message.png" alt="{{vm.lang.get('label.new_message')}}"/>
							<span>{{vm.lang.get('label.new_message')}}</span>
						</a>
					</li>
					<li class="menu-item" ng-if="vm.permissions.school_sfo_subscription && !vm.permissions.parent">
						<a href="" class="menu-link">
							<img src="./css/images/new-pickup.png" alt="{{vm.lang.get('label.new_pickup_message')}}"/>
							<span>{{vm.lang.get('label.new_pickup_message')}}</span>
						</a>
					</li>
					<li class="menu-item" ng-if="vm.permissions.school && !vm.permissions.parent">
						<a href="" class="menu-link">
							<img src="./css/images/absence-overview.png" alt="{{vm.lang.get('label.absence')}}"/>
							<span>{{vm.lang.get('label.absence')}}</span>
						</a>
					</li>
					<li class="menu-item">
						<a ui-sref="app.profile" class="menu-link"  ng-if="!vm.permissions.parent">
							<img src="./css/images/profile.png" alt="{{vm.lang.get('label.pupil_profile')}}"/>
							<span ng-if="vm.permissions.school_type=='school'">{{vm.lang.get('label.pupil_profile')}}</span>
							<span ng-if="vm.permissions.school_type=='kindergarten'">{{vm.lang.get('label.kid_profile')}}</span>
						</a>
						<a ui-sref="app.user-profile" class="menu-link"  ng-if="vm.permissions.parent">
							<img src="./css/images/profile.png" alt="{{vm.lang.get('label.pupil_profile')}}"/>
							<span>{{vm.lang.get('label.profile')}}</span>
						</a>
					</li>
					<li class="menu-item">
						<a ui-sref="app.contact-list" class="menu-link" ng-if="!vm.permissions.parent">
							<img src="./css/images/contact-list.png" alt="{{vm.lang.get('label.contact_list')}}"/>
							<span>{{vm.lang.get('label.contact_list')}}</span>
						</a>
					</li>
					<li class="menu-item" ng-if="vm.permissions.school_sfo_subscription && !vm.permissions.parent">
						<a ui-sref="app.pickup-rules" class="menu-link">
							<img src="./css/images/pickup-rule.png" alt="{{vm.lang.get('label.pickup_rules')}}"/>
							<span>{{vm.lang.get('label.pickup_rules')}}</span>
						</a>
					</li>
					<!--<li class="menu-item" ng-if="vm.permissions.activities">-->
						<!--<a href="" class="menu-link">{{vm.lang.get('label.registration_activities')}}</a>-->
					<!--</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>