@import "./angular/material/project";

.header {
  .header-top {
    background: #fcfeff;
    border-bottom: 3px solid #8CA6B0;
  }
  .header-logo {
    position: relative;
    min-height: 85px;
  }
  .schoollink-logo {
    left: 30px;
    top:30px;
    position: absolute;
    img {
      width: 24px;
    }
  }
  .pupil {
    margin: 12px 0;
    li {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
      a {
        text-decoration: none!important;
      }
      .pupil-img {
        width: 70px;
        height: 70px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        &:before {
          border: 6px solid #a6aaae;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          opacity: 0.5;
          content: "";
          position: absolute;
          top:0;
          left: 0;
          bottom: 0;
          right:0;
          z-index: 1;
        }
        img {
          min-width: 100%;
          min-height: 100%;
          bottom: -100%;
          top: -100%;
          left: -100%;
          right: -100%;
          margin: auto;
          max-height: 100%;
          max-width: none;
          position: absolute;
        }
      }
      .pupil-name {
        color: #3F525D;
        width: 70px;
        text-align: center;
        margin-top: 5px;
        display: block;
      }
    }
  }
  .menu {
    background: #fff;
    display: block;
    width: 100%;
    padding: 15px 25px;
    border-bottom: 3px solid #8CA6B0;
    margin-bottom: 30px;
    .menu-item {
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      a {
        color: #3F525D;
        text-decoration: none!important;
        span {
          display: block;
          margin-top:5px;
        }
      }
    }
  }

  .municipality {
    text-align: center;
    font-weight: 100;
    img {
      width: 50px;
      display: inline-block;
    }
    .municipality-name {
      display: inline-block;
      text-align: left;
      margin-top: 10px;
      margin-left: 30px;
      vertical-align: middle;
      .title {
        font-size: 1.143em;
      }
      .school-owner{
        font-size: 2.286em;
      }
    }
  }

  .header-menu {
    .weather {
      margin-top: 12px;
      .weather-title {
        color: #575962;
        font-size: 1.429em;
        vertical-align: bottom;
      }
      .circle-weather {
        display: inline-block;
        font-size: 2.857em;
        width: 103px;
        height: 103px;
        background: #85d5d1;
        border-radius: 50%;
        line-height: 103px;
        position: relative;
        img{
          vertical-align: top;
          margin-top: 20px;
          margin-left: 10px;
        }
        .temperature {
          position: absolute;
          right: -15px;
          bottom: -15px;
        }
      }
    }
  }
  .avatar-container {
    position: relative;
    display: inline-block;
    .avatar {
      float: right;
      margin-top: 7px;
      width: 50px;
      height: 50px;
    }
    .name {
      right: -5px;
      bottom: -5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 1em;
    }
  }


  .contrast {
    font-size: 1.357em;
    line-height: 85px;
  }
}