<md-dialog class="add-activity-course-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.lang.get('label.select_form')}}</h3>
    </div>
    <md-divider></md-divider>
    <div class="list-activity-course">
        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="course-list table table-condensed table-striped" ng-table="vm.formTableParams">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{vm.lang.get('label.title')}}</th>
                            <th>{{vm.lang.get('label.description')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="form in $data" ng-click="vm.selectForm(form)">
                            <td><input type="radio" ng-model="vm.selected_form.id" value="{{form.id}}"/></td>
                            <td><strong>{{form.title}}</strong></td>
                            <td><strong>{{form.description}}</strong></td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input class="btn btn-green" type="button" ng-click="vm.send()" value="{{vm.lang.get('label.send')}}" />
            <input class="btn btn-red" type="button" ng-click="vm.hide()" value="{{vm.lang.get('label.close')}}" />
        </md-dialog-actions>
    </div>
</md-dialog>