<div class="notification-setting-component bg-blur">
	<div layout="column">
		<div class="header" flex>{{vm.lang.get('label.get_notification_when')}}</div>
		<div class="notification-items">
			<div flex ng-repeat="notification in vm.notifications">
				<div layout="row" class="notification" layout-align="center">
					<div flex>
						<div class="avatar-container">
							<div class="avatar">
								<img ng-src="{{notification.user_image}}" alt="">
							</div>
							<span class="name color-{{$root.getColor(notification.user_id)}}">{{notification.user_name}}</span>
						</div>
						<div class="title">
							<span ng-if="notification.school_type != 'kindergarten'">
								{{ vm.lang.get('label.notification_' + notification.icon) }}
							</span>
							<span ng-if="notification.school_type == 'kindergarten'">
								{{ vm.lang.get('label.notification_' + notification.icon+'_kindergarten') }}
							</span>
						</div>
					</div>

					<div class="switch" flex="nogrow">
						<md-switch ng-change="vm.changeNotification(notification)" ng-model="notification.receiving" class="md-primary" aria-label="{{ vm.lang.get('label.notification_' + notification.icon) }}" ng-true-value="'1'" ng-false-value="'0'">
						</md-switch>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>