@import "./angular/material/project";

.notification-setting-component {
  padding: 30px 50px;
  .header{
    font-size: 1.786em;
    margin-bottom: 30px;
  }
  .notification-items {
    background: #fff;
    border-radius: 5px;
  }
  .notification {
    margin: 10px 50px 10px 20px;
    border-bottom: 3px solid #EEF2F3;
    padding-bottom: 5px;
    .avatar-container{
      position: relative;
      display: inline-block;
      .avatar {
        width: 50px;
        height: 50px;
      }
    }
    .title {
      display: inline-block;
      vertical-align: top;
      line-height: 60px;
      margin-left: 35px;
      font-size: 1.143em;
    }
    .switch {
      text-align: right;
    }
  }
}