<md-content class="Page-container contact-list-page">
    <div layout="row">
        <div flex="100">
            <guardian-contact-list></guardian-contact-list>
        </div>
    </div>
</md-content>
