<md-dialog class="add-activity-course-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.lang.get('label.select_course')}}</h3>
    </div>
    <md-divider></md-divider>
    <div class="list-activity-course" ng-show="!vm.show_add">
        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="course-list table table-condensed table-striped" ng-table="vm.activityTableParams">
                    <thead>
                        <tr>
                            <th>{{vm.lang.get('label.course_type')}}</th>
                            <th>{{vm.lang.get('label.name')}}</th>
                            <th>{{vm.lang.get('label.location')}}</th>
                            <th>{{vm.lang.get('label.week')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in $data" ng-click="vm.selectActivity(activity)">
                            <td><strong>{{activity.course.name}}</strong></td>
                            <td><strong>{{activity.activity.name}}</strong></td>
                            <td>
                                {{activity.summer_school.school.name}}
                            </td>
                            <td>
                                {{ $root.formatDate(activity.activity.date_start, 'W')}}
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input class="btn btn-red" type="button" ng-click="vm.hide()" value="Lukk" />
        </md-dialog-actions>
    </div>
</md-dialog>