<md-dialog class="select-role-dialog">
    <div class="modal-header">
        <!--<a class="modal-close" ng-click="vm.hide()">✕</a>-->
        <h3>{{vm.lang.get('label.dialog_select_role_title')}}</h3>
    </div>
    <div class="modal-content">
        <button class="md-button md-raised md-primary" ng-click="vm.guardianProfile()">{{vm.lang.get('label.role_parent')}}</button>
        <button class="md-button md-raised md-primary" ng-click="vm.goAddPupil(false)">{{vm.lang.get('label.role_pupil')}}</button>
    </div>
</md-dialog>