.activity-detail-component {
	padding-bottom: 50px;
	.glyphicon-ok {
		color: #267326;
		margin-right: 8px;
		cursor: pointer;
		outline: none;
	}
	.glyphicon-log-out{
		margin-right: 8px;
		cursor: pointer;
		outline: none;
	}
	.glyphicon-trash {
		cursor: pointer;
		outline: none;
	}
	
	>h2 {
		font-size: 38px;
		padding: 25px;
		font-style: italic;
		font-weight: 400;
		margin-top: 0;
	}

	h5 {
		font-size: 18px;
    	margin-top: 20px;
	}

	.btn-icon {
		background: #444;
		border-radius: 0px;
		display: inline-block;
		height: 20px;
		moz-border-radius: 0px;
		padding: 3px;
		webkit-border-radius: 0px;
		width: 20px;
	}

	.btn {
		background: #aaa;
		background: #ddd;
		border: 1px solid transparent;
		border-radius: 0px;
		box-shadow: none;
		color: #FFF;
		color: black;
		cursor: pointer;
		display: inline-block;
		font-size: 13px !important;
		height: auto;
		line-height: initial;
		margin: 0px;
		moz-border-radius: 0px;
		moz-box-shadow: none;
		padding: 5px 7px;
		text-align: left;
		text-decoration: none;
		text-shadow: none;
		vertical-align: initial;
		webkit-border-radius: 0px;
		webkit-box-shadow: none;
		width: auto;
	}

	input.btn {
		padding: 7px 10px 6px !important;
	}

	.btn.btn-block {
		display: block;
		margin: 0px 1px;
	}

	.btn.btn-small {
		font-size: 14px;
		padding: 2px 5px;
		margin: 0 0 3px 0;
	}

	.page-school-consent_list .btn {
		margin-bottom: 3px;
	}

	.table-school-consent_list {
		min-height: 100px;
	}

	.page-school-log_list .btn {
		margin-bottom: 3px;
	}
	.btn-grey
	{
		background: #bbb;
		color: #FFF;
	}
	.btn-grey:hover {
		background: #666;
		color: #FFF;
		text-decoration: none;
	}

	.btn-transparent {
		background-color: transparent;
	}

	.btn-icon.btn-large {
		height: 23px;
		width: 23px;
	}

	.box-satgreen, .btn-satgreen {
		background-color: #6ebf5d;
		color: #FFF;
	}

	.btn-satgreen:hover {
		background-color: #398b28;
		color: #FFF;
	}

	.box-green, .btn-green {
		background-color: #393;
		color: #FFF;
	}

	.btn-green:hover {
		background-color: #267326;
		color: #fff;
	}

	.box-red, .btn-red {
		background-color: #e51400;
		color: #FFF;
	}

	.btn-red:hover {
		background-color: #b21000;
		color: #fff;
	}

	.box-red2, .btn-red2 {
		background-color: #dc1a27;
		color: #FFF;
	}

	.btn-red2:hover {
		background-color: #cc0a17;
		color: #fff;
	}

	.box-lime, .btn-lime {
		background-color: #79be69;
		color: #FFF;
	}

	.btn-lime:hover {
		background-color: #69ae59;
		color: #fff;
	}

	.box-blue, .btn-blue {
		background-color: #368ee0;
		color: #FFF;
	}

	.btn-blue:hover {
		background-color: #1e74c5;
		color: #fff;
	}

	.box-white, .btn-white {
		background-color: transparent;
		color: #000;
		border: 1px solid #eee;
	}

	.btn-white:hover, .btn-white.btn-selected {
		background-color: #FFFFFF;
		border: 1px solid #000;
		color: #000;
	}

	.box-pink, .btn-pink {
		background-color: #ff0097;
		color: #FFF;
	}

	.btn-pink:hover {
		background-color: #CC0079;
		color: #fff;
	}

	.box-purple, .btn-purple {
		background-color: #573c92;
		color: #FFF;
	}

	.btn-purple:hover {
		background-color: #573c92;
		color: #fff;
	}

	.box-orange, .btn-orange {
		background-color: #f8a31f;
		color: #FFF;
	}

	.btn-orange:hover {
		background-color: #dd8907;
		color: #fff;
	}

	.box-magenta, .btn-magenta {
		background-color: #c10161;
		color: #FFF;
	}

	.btn-magenta:hover {
		background-color: #7e003f;
		color: #fff;
	}

	.btn-dorange {
		background-color: #e27000;
		color: #fff;
	}

	.btn-dgreen {
		background-color: #393;
		color: #FFF;
	}

	.btn.btn-icon {
		background-position: 10px center;
		background-repeat: no-repeat;
		background-size: 30px 30px;
		padding-left: 46px;
	}

	.box .actions {
		float: right;
		margin: 0px;
	}

	.box .box-header .actions .btn {
		border-left: 1px solid #e9eaed;
		border-right: 1px solid #e9eaed;
		color: #6a7480;
		height: 100%;
		margin-top: -6px;
	}

	.box .box-header .actions .btn:hover {
		background-color: #e9eaed;
	}

	.btn-icon-email-plus {
		background-image: url('/modern/img/icon_email_plus.png');
	}

	.activity-detail-container {
		overflow-x: hidden;
		border-top: 3px solid rgba(0, 158, 250, 0.09);

		.seperate-line-left {
			border-left: 3px solid rgba(0, 158, 250, 0.09);
			min-height: 900px;
		}

		.seperate-line-bottom {
			border-bottom: 3px solid rgba(0, 158, 250, 0.09);
		}

		.activity-details-view {
			padding-left: 20px;
			.actions {
				margin-top: 30px;
				text-align: right;
			}
		}

		section {
			display: block;
			overflow: hidden;

			.section-control {
				&:before {
					clear: both;
				}

				margin: 5px 0;
				overflow: hidden;

				.s-label {
					width: 150px;
					color: #000;
					text-align: left;
					clear: both;
					float:left;
					margin-right:15px;
				}
				.text{
					float: left;
					width: calc(100% - 170px);
				}
			}
		}
	}
	.weekdays {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 3px;
			.day {
				width: 65px;
				display: inline-block;
			}
		}
	}
	.activity-details-edit {
		padding-top: 20px;
		padding-left: 20px;
		input {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		.form-group {
			clear: both;

			label {
				width: 120px;
				color: #000;
				text-align: right;
				clear: both;
				float:left;
				margin-right:15px;
				margin-top: 10px;

				font-size: 12px;
				font-weight: bold;
				line-height: 12px;
				color: rgb(85, 85, 85);
			}

			select {
				max-width: calc(100% - 135px);
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}

			textarea {
				font-size: 12px !important;
				font-weight: normal;
				line-height: 20px;

				max-width: calc(100% - 135px);
			}

			input {
				border: 1px solid #aaa;
				padding: 6px 10px;
				margin: 0px;
				background: #FFF;
				max-width: calc(100% - 135px);
				display: inline-block;
				height: auto;
				font-size: 13px;
				line-height: 15px;
				color: #575757;
				vertical-align: middle;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}

			.masked-time {
				width: 100%;
				max-width: 70px;
				padding-left: 5px;
			}
		}

		.form-control.name {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 28px !important;
			line-height: 32px !important;

			border: 1px solid #aaa;
			padding: 6px 10px;
			margin: 0px;
			background: #FFF;
			max-width: 100%;
			display: inline-block;
			height: auto;
			font-size: 13px;
			line-height: 15px;
			color: #575757;
			vertical-align: middle;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		.form-control.description {
			width: 100%;
			max-width: 100%;
			height: 150px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: 20px;
			border: 1px solid #aaa;
			font-size: 12px !important;
			font-weight: normal;
			line-height: 20px;

			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		.choose-course {
			color: #000;
			text-decoration: none;
			outline: 0 !important;
		}

		.choose-course:hover {
			cursor: pointer;
			text-decoration: underline;
			color: #005580;
		}
	}

	.search-container {
		padding: 20px;
		border-bottom: 3px solid rgba(0, 158, 250, 0.09);
		.btn-add-participant{
			padding: 10px 10px;
		}
	}

	.group-filter {
		border-bottom: 3px solid rgba(0, 158, 250, 0.09);
		border-right: 3px solid rgba(0, 158, 250, 0.09);
		padding: 20px;
		.filter-condition {
			width: 100px;
		}
	}

	.group-container {
		.group-1 {
			width: 100%;
		}
		.group-2 {
			width: 50%;
		}
		.group-3 {
			width: 33.3%;
		}
		.group-4 {
			width: 25%;
		}
		.group-5 {
			width: 20%;
		}
		.group {
			float: left;
			border-right: 3px solid rgba(0, 158, 250, 0.09);
			border-bottom: 3px solid rgba(0, 158, 250, 0.09);
			min-height: 900px;
			padding: 20px;
		}
		.title {
			margin-top: 10px;
		}
	}
	.remove-padding {
		padding-left: 0px;
		padding-right: 30px;
	}
	.waiting-list {
		margin-top: 20px;
		margin-right: 15px;
		border-bottom: 1px solid #ddd;

		.name {
			font-size: 15px;
			font-weight: 100;
		}
		.extra-info {
			font-size: 12px;
		}
		.action {
			width: 60px;
			vertical-align: middle;
		}
	}
  	.participant-list {
		margin: 0 20px;
		.waiting-item {
			width: 100%;
			padding: 8px 0;
			border-top: 1px solid #ddd;
			cursor: move;
			.row {
				display: table;
				width: 100%;
				div{
					display: table-cell;
					vertical-align: middle;
					float:none;
				}
			}
		}
  	}
}

.add-activity-course-dialog {
	h3 {
		padding: 10px 20px;
		margin: 0px;
		font-size: 18px;
	}

	md-dialog-actions {
		margin-right: 15px;
		margin-bottom: 10px;
	}

	.modal-header .modal-close {
		padding: 10px 20px;
		margin: 0px;
		font-size: 18px;
		float: right;
		color: #AAA;
		cursor: pointer;
	}

	.list-activity-course {
		.course-list {
			width: 600px;
		}
	}

	.modal-actions {
		text-align: right;
	}

	.add-activity-course {
		width: 648px;
		padding: 25px;

		input {
			border-radius: 0;
		}

		.name {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 28px !important;
			line-height: 32px !important;
			height:46px;
		}

		.description {
			width: 100%;
			height: 150px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: 20px;
			margin-bottom: 40px;
			border-radius: 0;
		}

		.form-group {
			label {
				width: 120px;
				color: #000;
				text-align: right;
				clear: both;
				float:left;
				margin-right:15px;
				margin-top: 10px;

				font-size: 12px;
				font-weight: bold;
				line-height: 12px;
				color: rgb(85, 85, 85);
			}

			.control {
				select {
					width: calc(100% - 135px);
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
				}

				.date-picker {
					width: calc(100% - 135px);
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
				}
			}

			.year-grade-group {
				margin-left: 135px;
				width: calc(100% - 135px);

				select {
					width: 100%;
				}
			}

			select {
				font-size: 12px !important;
				font-weight: normal;
				line-height: 20px;
				border: 1px solid #aaa;
				padding: 4px 6px;
				background: #FFF;
				display: block;
				width: 100%;
				display: inline-block;
				height: auto;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: auto;
				color: #555;
				vertical-align: middle;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}
		}
	}

	.btn-green {
		background-color: #393;
		color: #FFF;
		margin-left: 20px;
		border-radius: 0;
	}

	.btn-green:hover {
		background-color: #267326;
		color: #fff;
	}

	.box-blue, .btn-blue {
		background-color: #368ee0;
		color: #FFF;
	}

	.btn-blue:hover {
		background-color: #1e74c5;
		color: #fff;
	}

	.box-red, .btn-red{
		background-color: #e51400;
		color: #FFF;
	}

	.btn-red:hover {
		background-color: #b21000;
		color: #fff;
	}
}


.participant-activity-so {
	font-size: 12px;
	max-width: 280px;
	min-height: 75px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: 0px;
	margin-bottom: 20px;
	float: left;
	position: relative;
	background: #fff;
	-webkit-box-shadow: 4px 7px 5px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 7px 5px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 7px 5px -6px rgba(0, 0, 0, 0.75);
	cursor: move;
	.border {
		height: 7px;
		border-bottom: 1px solid #AAA;
		background: #DDD;
	}
	&.female {
		.border {
			background-color: #ff0097;
			border-color: #cc0079;
		}
	}
	&.male {
		.border{
			background-color: #368ee0;
			border-color: #1e74c5;
		}
	}
	.participant-info {
		padding: 10px 20px;
		.name {
			display: block;
			font-size: 15px;
			font-weight: 100;
			cursor: pointer;
		}
		.context {
			display: block;
			font-size: 12px;
			font-weight: 400;
			margin: 5px 0;
		}
		.confirmed {
			display: inline-block;
			color: green;
			line-height: 30px;
		}
		.waiting {
			display: inline-block;
			color: orange;
			line-height: 30px;
		}
		.priority {
			border: 1px solid #000;
			border-radius: 12px;
			margin-top: 5px;
			margin-right: 15px;
			padding: 3px;
			display: inline-block;
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 11px;
		}
		.glyphicon-trash {
			position: absolute;
			top: 20px;
			right: 5px;
			color: #e51400;
			cursor: pointer;
		}
	}
}

