// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
	font-size: 14px;
	font-family: "Open Sans"!important;
	background: url('/sl/css/images/bg.png') repeat-y;
	-webkit-background-size:cover;
	background-size:cover;
	height: auto;
	min-height: 100%;
}

.bg-blur {
	background-repeat:no-repeat;
	background-size: cover                               ;
	background-attachment: fixed;
	background-image: url("/sl/css/images/bg-blur.png");
	background-size: 100%;
	background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/sl/css/images/bg-blur.png");
	background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/sl/css/images/bg-blur.png");
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/sl/css/images/bg-blur.png");
}

.avatar {
	width: 70px;
	height: 70px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	img {
		min-width: 100%;
		min-height: 100%;
		bottom: -100%;
		top: -100%;
		left: -100%;
		right: -100%;
		margin: auto;
		max-height: 100%;
		max-width: none;
	}
	&:before {
		border: 6px solid #a6aaae;
		border-radius: 50%;
		opacity: 0.5;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

ul {
	margin: 0px;
	padding: 0px;
	li {
		list-style: none;
	}
}

a {
	cursor: pointer;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.143em;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
.material-icons.md-14{
	font-size: 1em;
}
.material-icons.md-16{
	font-size: 1.143em;
}
.material-icons.md-18 {
	font-size: 1.286em;
}
.material-icons.md-24 {
	font-size: 1.714em;
}
.material-icons.md-36 {
	font-size: 2.571em;
}
.material-icons.md-48 {
	font-size: 3.429em;
}