//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	font-size: 14px;
	font-family: "Open Sans" !important;
	-webkit-background-size:cover;
	background-size:cover;
	height: auto;
	min-height: 100%;
}

md-toast {
	position: fixed;
}