<md-dialog ng-controller="GroupActivityRoleController as vm">
    <form class="enrollment-group-dialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="vm.type == 1">{{vm.lang.get('label.select_target_group_for_registration')}}</h2>
                <h2 ng-if="vm.type == 2">{{vm.lang.get('label.select_target_group_for_execution')}}</h2>
                <h2 ng-if="vm.type == 3">{{vm.lang.get('label.select_target_group_for_course')}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <md-radio-group ng-model="vm.active_role"  ng-change="vm.selectRole()">
                        <div ng-repeat="role in vm.roles" layout="column">
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-md-5">
                                    <span>{{role.school_name}}</span>    
                                </div>
                                <div class="col-md-7">
                                    <div layout="row">
                                        <md-radio-button ng-if="role.school_SFO == true" value="SchoolSFO:{{role.school_id}}" flex="30">SFO</md-radio-button>
                                        <md-radio-button ng-if="role.school_administration == true" value="SchoolAdministration:{{role.school_id}}" flex="50">Administrasjon</md-radio-button>
                                        <md-radio-button ng-if="role.teacher == true" value="Teacher:{{role.school_id}}" flex="40">Lærer</md-radio-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-radio-group>
                </md-input-container>
                <div class="row" ng-show="vm.active_types.length > 0">
                    <div class="col-md-5">
                        Type:
                    </div>
                    <div class="col-md-7">
                        <select ng-model="vm.selected_type">
                            <option ng-repeat="type in vm.active_types" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>
             </div>
        </md-dialog-content>

        <md-dialog-actions>
            <a ng-click="vm.save()" class="btn btn-blue">Velg</a>
            <a ng-click="vm.hide()" class="btn btn-red">Avbryt</a>
        </md-dialog-actions>
    </form>
</md-dialog>
