.teacher-course-overview-component {
    padding: 0 20px;

    md-toolbar {
        background: transparent;
        color: #555;
    }

    .md-toolbar-tools {
        padding-left: 0;
    }

    h1 {
        color: #555555;
        font-size: 38.5px;
    }

    .btn-blue {
        border-radius: 0;
        background-color: #368ee0;
        color: #FFF;
    }

    .btn-blue:hover {
        background-color: #1e74c5;
        color: #fff;
    }

    table tr:hover td {
        background: #fafafa;
        cursor: pointer;
    }

    table tr th {
        color: #000;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid #aaa;
        padding-bottom: 7px;
    }
}

.add-course-dialog {
    width: 600px;

    form {
        padding: 20px;
    }

    .modal-header .modal-close {
        padding: 10px 20px;
        margin: 0px;
        font-size: 18px;
        float: right;
        color: #AAA;
        cursor: pointer;
    }

    input,
    textarea{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .box-blue, .btn-blue {
        background-color: #368ee0;
        color: #FFF;
    }

    .btn-blue:hover {
        background-color: #1e74c5;
        color: #fff;
    }

    .box-red, .btn-red{
        background-color: #e51400;
        color: #FFF;
    }

    .btn-red:hover {
        background-color: #b21000;
        color: #fff;
    }

    .modal-actions input{
        float: right;
        margin-top: 10px;
        margin-left: 5px;
        max-width: 65px;
    }

    .form-group {
        clear: both;

        label {
            width: 120px;
            color: #000;
            clear: both;
            float:left;
            margin-right:15px;
            margin-top: 10px;

            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            color: rgb(85, 85, 85);
        }

        select {
            max-width: calc(100% - 135px);
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        textarea {
            font-size: 12px !important;
            font-weight: normal;
            line-height: 20px;
        }

        input,
        textarea{
            border: 1px solid #aaa;
            padding: 6px 10px;
            margin: 0px;
            background: #FFF;
            display: inline-block;
            height: auto;
            font-size: 13px;
            line-height: 15px;
            color: #575757;
            vertical-align: middle;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .date-picker {
            width: calc(100% - 135px);
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
    }
}