<div class="teacher-course-overview-component">
    <md-toolbar style="margin-top: 20px">
        <div class="md-toolbar-tools">
            <h1>
                <span class="ng-binding">{{$root.getLabel('course')}}</span>
            </h1>
            <span flex></span>
            <a class="btn btn-blue" ng-click="vm.showRoles(3)"><i class="glyphicon glyphicon-plus"></i> {{$root.getLabel('new_course')}}</a>
        </div>
    </md-toolbar>
    <div class="list-activity-course">
        <table ng-table="vm.courseTableParams" class="course-list table" >
            <tr ng-repeat="item in $data" ng-click="vm.selectCourse(item)">
                <td data-title="$root.getLabel('name')" sortable="'name'">{{item.name}}</td>
                <td data-title="$root.getLabel('description')" width="50%">{{item.description | limitTo: 50}}</td>
                <td data-title="$root.getLabel('subject')" sortable="'subject'">{{vm.subjects[item.subject].name}}</td>
                <td data-title="$root.getLabel('year_grade')" sortable="'year_grade_minimum'">{{item.year_grade_minimum}} - {{item.year_grade_maximum}}</td>
            </tr>
        </table>
    </div>
</div>