.user-profile-component {
  position: relative;
  background: #fff;
  margin-right: 20px;
  .avatar
  {
    width: 170px;
    height: 170px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 20px;
    img {
      min-width: 100%;
      min-height: 100%;
      bottom: -100%;
      top: -100%;
      left: -100%;
      right: -100%;
      margin: auto;
      max-height: 100%;
      max-width: none;
      position: absolute;
    }
    &:before {
      border: 6px solid #a6aaae;
      border-radius: 50%;
      opacity: 0.5;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
  .profile {
    padding: 110px 40px 50px;
    margin-top: 70px;
    color: #3F525D;
    overflow-x: auto;
    md-input-container{
      width: 100%;
    }
    .profile-info{
      margin-top: 10px;
      .info {
        font-family: 'Open Sans';
        font-size: 1.143em;
        line-height: 1.857em;
        .info-content{
          font-weight: 600;
          font-size: 0.786em;
        }
      }
      .name {
        font-size: 2.143em;
        margin-bottom: 20px;
      }
      .edit-link{
        text-align: right;
        a{
          text-decoration: none;
        }
        md-icon{
          margin-top: -10px;
        }
      }
      .red-mark{
        color: red;
        margin-left: 2px;
      }
    }
  }
}