.enrollment-group-details-component{
    >h2 {
        border-bottom: 3px solid rgba(0, 158, 250, 0.09);
        padding-bottom: 30px;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    .left-panel {
        border-right: 3px solid rgba(0, 158, 250, 0.09);
    }
    .group-details {
        margin: 20px 0 0 20px;
        .form-group {
            clear: both;
            overflow: hidden;
            label {
                float:left;
                width: 40%;
                text-align: right;
                padding-right: 10px;
                font-weight: normal;
                font-size: 12px;
            }
            .control {
                float:left;
                width: 60%;
                input {
                    width: 100%;
                    border-radius: 0px;
                    border: 1px solid #aaa;
                    height: 30px;
                }
                select {
                    width: 100%;
                    height: 30px;
                }
            }
            &:after {
                content: '';
                clear:both;
            }
        }
        .action-group {
            a {
                margin-bottom: 10px;
            }
        }
    }

    .btn {
        font-size: 13px;
        border-radius: 0px;
        .glyphicon {
            margin-right: 3px;
        }
    }
}

