<md-dialog class="dks add-course-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.model.name ? vm.lang.get('label.course') + ': ' + vm.model.name : vm.lang.get('label.new_course')}}</h3>
    </div>
    <md-divider></md-divider>
    <form class="add-course" ng-submit="vm.save()">
        <div class="form-group">
            <div class="control">
                <input type="text" class="form-control name" placeholder="Kurset sitt tittel" ng-model="vm.model.name" />
            </div>
        </div>
        <div class="form-group">
            <div class="control">
                <textarea class="form-control description" placeholder="Beskrivelse ingress" ng-model="vm.model.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>{{vm.lang.get('label.course_details')}}</label>
            <div class="control">
                <select class="school-course-details" name="details" ng-model="vm.model.post_detail_id" style="width: 200px">
                    <option value="">{{vm.lang.get('label.select')}}</option>
                    <option value="{{post.id}}" ng-repeat="post in vm.posts">{{post.post_title}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{vm.lang.get('label.cultural_type')}}</label>
            <div class="control">
                <select class="school-course-type" name="subject" ng-model="vm.model.subject" style="width: 200px">
                    <option value="">Velg</option>
                    <option value="{{s.code}}" ng-repeat="s in vm.subjects">{{s.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{vm.lang.get('label.course_year_group')}}</label>
            <div class="control year-grade-group">
                <select class="year-grade-minimum" name="year_grade_minimum" ng-model="vm.model.year_grade_minimum" ng-options="n for n in vm.range(1,13) track by n">
                    <option value="">Min</option>
                </select>
                <select class="year-grade-maximum" name="year_grade_maximum" ng-model="vm.model.year_grade_maximum" ng-options="n for n in vm.range(1,13) track by n">
                    <option value="">Max</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{vm.lang.get('label.course_date_period')}}</label>
            <div class="control">
                <select class="semester-list" ng-model="vm.semester" ng-options="n.label for n in vm.semesters track by n.value">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{vm.lang.get('label.book_on_course')}}</label>
            <div class="control">
                <md-checkbox ng-model="vm.model.book_on_course" aria-label="{{vm.lang.get('label.book_on_course')}}">
                    {{vm.lang.get('label.book_on_course')}}
                </md-checkbox>
            </div>
        </div>

        <div class="modal-actions">
            <input class="btn btn-blue" type="submit" value="{{vm.lang.get('label.save')}}" />
            <input class="btn btn-red" ng-if="vm.model.active" ng-click="vm.delete()" value="{{vm.lang.get('label.delete')}}" />
        </div>
    </form>
</md-dialog>