<div class="remark-component bg-blur">
    <div layout="column">
        <div class="header" flex>{{vm.lang.get("label.remark_title")}}</div>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab class="title-negative-tab" label="{{vm.lang.get('label.remark_title_negative')}} ({{vm.remarks.negative_remarks_number}})">
                        <md-content class="md-padding">
                            <md-table-container class="remark-list">
                                <table md-table md-row-select class="table-remark">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_type')}}</th>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_description')}}</th>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_date')}}</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="remark in vm.remarks.negative_remarks">
                                        <td md-cell><div class="icon neg_{{remark.remark_type.icon}}"></div><span class="icon-text">{{vm.lang.locale() != 'en' ? remark.remark_type.name : remark.remark_type.name_english }}</span></td>
                                        <td md-cell>{{ remark.reason }}</td>
                                        <td md-cell>{{ remark.date*1000 | date:'dd.MM.yyyy'}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                    <md-tab class="title-positive-tab" label="{{vm.lang.get('label.remark_title_positive')}} ({{vm.remarks.positive_remarks_number}})">
                        <md-content class="md-padding">
                            <md-table-container class="remark-list">
                                <table md-table md-row-select class="table-remark">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_type')}}</th>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_description')}}</th>
                                        <th md-column md-numeric>{{vm.lang.get('label.remark_date')}}</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="remark in vm.remarks.positive_remarks">
                                        <td md-cell><div class="icon neg_{{remark.remark_type.icon}}"></div><span class="icon-text">{{vm.lang.locale() != 'en' ? remark.remark_type.name : remark.remark_type.name_english }}</span></td>
                                        <td md-cell>{{ remark.reason }}</td>
                                        <td md-cell>{{ remark.date*1000 | date:'dd.MM.yyyy'}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>