@import "./angular/material/project";

.remark-component {
  padding: 30px 50px;
  margin-top: 20px;
  .header{
    font-size: 1.786em;
    margin-bottom: 30px;
  }
  .remark-list{
    .table-remark{
      width: 100%;
    }
    .table-remark {
      border-collapse:collapse;
    }

    .table-remark tr {
      background: #D8E7F4;
    }
    .table-remark th,
    .table-remark td {
      vertical-align:top;
      padding:5px 10px;
      border:1px solid #fff;
    }
    .table-remark tr:nth-child(even) {
      background:#f5f5f5;
    }

    .table-remark th {
      font-weight:bold;
      background-color: #66D2E0;
    }
  }
  md-tabs{
    md-tab-item{
      background-color: #393;
      color:white;
    }
    .md-active{
      color:white !important;
    }
    md-tab-item:first-of-type{
      background-color: #F7406A;
    }
    md-pagination-wrapper{
      width: auto !important;
    }
  }

  .title-negative-tab{
    background-color: red;
  }
  .icon {
    width:30px;
    height:30px;
    vertical-align: middle;
    display: inline-table;
  }
  .icon-text{
    margin-left: 5px;
  }
  .neg_aa {
    background:url("/sl/css/images/neg_aa.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  .neg_afu {
    background:url("/sl/css/images/neg_afu.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  .neg_amo {
    background:url("/sl/css/images/neg_amo.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  .neg_oa {
    background:url("/sl/css/images/neg_oa.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  .neg_ofs {
    background:url("/sl/css/images/neg_ofs.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  .neg_ogl {
    background:url("/sl/css/images/neg_ogl.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
}