.activity-component {
    padding: 0 20px;

    md-dialog-content md-radio-button {
        margin-right: 20px;
    }

    md-toolbar {
        background-color: transparent;
    }

    .md-toolbar-tools {
        padding-left: 0;
    }

    .md-toolbar-tools h1 {
        color: rgb(85, 85, 85);
        font-size: 38.5px;
    }

    table tr th {
        color: #000;
        font-weight: 400;
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid #aaa;
        padding-bottom: 7px;

    }

    table tr:hover td {
        background: #fafafa;
        cursor: pointer;
    }

    .activity-filters select{
        width: 280px;
        max-width: 280px;
    }

    .btn-blue {
        border-radius: 0;
        background-color: #368ee0;
        color: #FFF;
    }

    .btn-blue:hover {
        background-color: #1e74c5;
        color: #fff;
    }
    table {
        tr {
            outline: none;
            td {
                vertical-align: middle;
            }
        }
    }
}