<div class="activity-component">
	<md-toolbar style="margin-top: 20px">
		<div class="md-toolbar-tools">
			<h1>
			  <span>{{vm.lang.get('label.activities')}}</span>
			</h1>
			<span flex></span>
			<a class="btn btn-blue" ng-click="vm.addActivity()"><i class="glyphicon glyphicon-plus"></i> {{vm.lang.get('label.new_activity')}}</a>
		</div>
	</md-toolbar>
	<div class="activity-filters">
		<md-input-container>
			<select ng-model="schoolFilterSelected" ng-change="vm.changeFilter('summer_school.school.id', schoolFilterSelected)">
				<option value="">{{vm.lang.get('label.select_school_to_filter')}}</option>
				<option value="{{schoolFilter.school.id}}" ng-repeat="schoolFilter in vm.schoolFilters | toArray | orderBy: 'name'">{{ (schoolFilter.school.name)}}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="courseFiltersSelected" ng-change="vm.changeFilter('course.id', courseFiltersSelected)">
				<option value="">{{vm.lang.get('label.select_course_to_filter')}}</option>
				<option value="{{courseFilter.course.id}}" ng-repeat="courseFilter in vm.courseFilters | toArray | orderBy: 'name'">{{ (courseFilter.course.name || 'Ingen kurstyper')}}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="yearGradeFiltersSelected" ng-change="vm.changeFilter('activity.year_grade', yearGradeFiltersSelected)">
				<option value="">{{vm.lang.get('label.select_age_to_filter')}}</option>
				<option value="{{gradeFilter.year_grade}}" ng-repeat="gradeFilter in vm.yearGradeFilters">{{ gradeFilter.year_grade }}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="weekFiltersSelected" ng-change="vm.changeFilter('activity.week', weekFiltersSelected)">
				<option value="" selected>{{vm.lang.get('label.select_week_to_filter')}}</option>
				<option value="{{weekFilter.week}}" ng-repeat="weekFilter in vm.weekFilters">{{ weekFilter.year + ' Uke ' + weekFilter.week }}</option>
			</select>
		</md-input-container>
	</div>
	<table ng-table="vm.activityTableParams" class="table" style="margin-top: 20px">
		<tr ng-repeat="activity in $data" ng-click="vm.showDetail(activity.activity.id, activity.activity.course_type_id)">
			<td data-title="$root.getLabel('course_type')" sortable="'course.name'" width="15%">
				{{activity.course.name}}
			</td>
			<td data-title="$root.getLabel('name')" sortable="'activity.name'" width="15%">
				{{activity.activity.name}}
			</td>
			<td data-title="$root.getLabel('location')" sortable="'summer_school.school.name'">
				{{activity.summer_school.school.name}}
			</td>
			<td data-title="$root.getLabel('week')" sortable="'activity.week_start'">
				{{ activity.activity.week_start }}
			</td>
			<td data-title="$root.getLabel('year')" sortable="'course.year_grade_minimum'">
				{{ (activity.course.year_grade_minimum || activity.course.year_grade_maximum) ?  activity.course.year_grade_minimum + ' - ' + activity.course.year_grade_maximum : ''}}
			</td>
			<td data-title="$root.getLabel('age_group')" sortable="'course.birthdate_minimum'">
				{{ (activity.course.birthdate_minimum || activity.course.birthdate_maximum) ?  $root.formatDate(activity.course.birthdate_minimum, 'DD.MM.YY')  + ' - ' + $root.formatDate(activity.course.birthdate_maximum, 'DD.MM.YY') : ''}}
			</td>
			<td data-title="$root.getLabel('number_of_pitches')" sortable="'summer_school.participants_maximum'">
				{{activity.summer_school.participants_maximum}}
			</td>
			<td  data-title="$root.getLabel('number_of_confirmed_seats')" sortable="'activity.number_of_confirmed'">
				{{activity.activity.number_of_confirmed}}
			</td>
			<td data-title="$root.getLabel('number_of_waiting')" sortable="'activity.number_of_waiting'">
				{{activity.activity.number_of_waiting}}
			</td>
			<td data-title="$root.getLabel('whole_groups_of_participants_are_divided_into')" sortable="'activity.number_of_groups'">
				{{ activity.activity.number_of_groups | number}}
			</td>
			<td data-title="''">
				<a class="btn btn-primary pull-right" ng-click="vm.activeToggle($event, activity.activity)"
				   ng-if="!activity.activity.active">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					{{ vm.lang.get('label.include') }}
				</a>

				<a class="btn btn-success pull-right" ng-click="vm.activeToggle($event,activity.activity)"
				   ng-if="activity.activity.active">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{{ vm.lang.get('label.remove') }}
				</a>
			</td>
		</tr>
		<tr>
			<th colspan="5"></th>
			<th>Sum</th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_maximum') }} </th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_confirmed') }} </th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_waiting') }} </th>
			<th></th>
			<th></th>
		</tr>
	</table>
</div>