<div class="simulation-activity-component">
    <h2>{{vm.lang.get('label.course_type')}}</h2>
    <a ng-click="vm.confirmApplication()" class="btn btn-success btn-lock" ng-if="vm.can_lock_allocation">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {{vm.lang.get('label.lock_allocations')}}
    </a>
    <a ng-click="vm.simulationDistribution()" class="btn btn-primary btn-lock">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        {{vm.lang.get('label.update_simulation')}}
    </a>
    <div class="activity-filters">
        <md-input-container>
            <select ng-model="schoolFilterSelected" ng-change="vm.changeFilter('school.id', schoolFilterSelected)">
                <option value="">{{vm.lang.get('label.select_school_to_filter')}}</option>
                <option value="{{schoolFilter.school.id}}" ng-repeat="schoolFilter in vm.schoolFilters | toArray | orderBy: 'name'">{{ (schoolFilter.school.name)}}</option>
            </select>
        </md-input-container>

        <md-input-container>
            <select ng-model="courseFiltersSelected" ng-change="vm.changeFilter('course.id', courseFiltersSelected)">
                <option value="">{{vm.lang.get('label.select_course_to_filter')}}</option>
                <option value="{{courseFilter.course.id}}" ng-repeat="courseFilter in vm.courseFilters | toArray | orderBy: 'name'">{{ (courseFilter.course.name || 'Ingen kurstyper')}}</option>
            </select>
        </md-input-container>

        <md-input-container>
            <select ng-model="yearGradeFiltersSelected" ng-change="vm.changeFilter('activity.year_grade', yearGradeFiltersSelected)">
                <option value="">{{vm.lang.get('label.select_age_to_filter')}}</option>
                <option value="{{gradeFilter.year_grade}}" ng-repeat="gradeFilter in vm.yearGradeFilters">{{ gradeFilter.year_grade }}</option>
            </select>
        </md-input-container>

        <md-input-container>
            <select ng-model="weekFiltersSelected" ng-change="vm.changeFilter('activity.week', weekFiltersSelected)">
                <option value="" selected>{{vm.lang.get('label.select_week_to_filter')}}</option>
                <option value="{{weekFilter.week}}" ng-repeat="weekFilter in vm.weekFilters">{{ weekFilter.year + ' Uke ' + weekFilter.week }}</option>
            </select>
        </md-input-container>
    </div>
    <table class="table" ng-table="vm.activityTableParams" template-header="customHeader.html">
        <tbody ng-repeat="activity in $data">
            <tr>
                <td width="250px" data-title="$root.getLabel('the_course_name')" sortable="'activity.name'" header-class="'rowspan'">
                    <a ui-sref="app.activity-detail({id: activity.activity.id})">{{activity.activity.name}}</a>
                </td>
                <td data-title="$root.getLabel('school')" sortable="'school.name'" header-class="'rowspan'">
                    <span outer-link="/#/skoler/{{activity.school.id}}">{{ activity.school.name }}</span>
                </td>
                <td data-title="$root.getLabel('week')" sortable="'activity.date_start'" header-class="'rowspan'">
                    <span>{{ $root.formatDate(activity.activity.date_start, 'WW') }}</span>
                </td>
                <td data-title="$root.getLabel('number_of_confirmed')" header-class="'rowspan'">
                    <span ng-if="activity.simulation.confirmed">
                    {{ activity.simulation.confirmed / activity.activity.participants_maximum * 100 | number : 0}}% ({{ activity.simulation.confirmed}}/{{activity.activity.participants_maximum}})
                    </span>
                </td>
                <td data-title="$root.getLabel('percent_filled')" sortable="'place_filled'" header-class="'rowspan'">
                    <form ng-submit="vm.changeParticipantMaximum(activity)">
                        <input class="maximum-input" type="number" ng-model="activity.activity.maximum" ng-show="activity.editing"/>
                    </form>
                    <span ng-if="activity.simulation.allocated" ng-class="{'green': activity.simulation.allocated == activity.activity.participants_maximum}" ng-click="vm.editParticipantMaximum(activity)" ng-show="!activity.editing">
                        {{ activity.place_filled | number : 0}}% ({{ activity.simulation.allocated}}/{{activity.activity.participants_maximum}})
                    </span>
                </td>
                <td ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)" data-title="$root.getLabel('place_filled')" header-class="'colspan'">
                    <span ng-if="activity.simulation.levels[i]">
                    {{ activity.simulation.levels[i] / activity.simulation.allocated * 100 | number : 0}}% ({{ activity.simulation.levels[i]}}/{{ activity.simulation.allocated }})
                    </span>
                </td>
                <td ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)" data-title="$root.getLabel('place_filled')" header-class="'colspan'">
                    <span ng-if="activity.simulation.levels_unallocable_due_to_participant_limit[i]" ng-class="activity.simulation.levels_unallocable_in_any_course[i] ? 'red': 'orange'">
                    {{ activity.simulation.levels_unallocable_due_to_participant_limit[i]}}
                        <span ng-if="activity.simulation.levels_unallocable_in_any_course[i]">({{ activity.simulation.levels_unallocable_in_any_course[i] }})</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="{{ 2 + vm.enrollment_group.maximum_course_random_registration * 2}}">
                    <input type="text" ng-model="activity.activity.notes" placeholder="{{vm.lang.get('label.write_notes_for_execution')}}" class="note-input"  ng-change="activity.activity.is_updated = true">
                </td>
                <td colspan="3">
                    <a class="btn btn-success pull-right btn-save-note" ng-click="vm.saveNote(activity.activity)" ng-show="activity.activity.is_updated">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        {{ vm.lang.get('label.save') }}
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Sum</td>
            <td>
                {{ vm.total.confirmed / vm.total.participants_maximum * 100 | number : 0}}% ({{vm.total.confirmed}}/{{vm.total.participants_maximum}})
            </td>
            <td>
                {{vm.total.allocated / vm.total.participants_maximum * 100 | number : 0}}% ({{vm.total.allocated}}/{{vm.total.participants_maximum}})
            </td>
            <td ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)">
                {{vm.total.levels[i] / vm.total.allocated * 100 | number : 0}}% ({{vm.total.levels[i]}}/{{vm.total.allocated}})
            </td>
            <td ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)">
                {{vm.total.levels_unallocable_due_to_participant_limit[i]}}
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/ng-template" id="customHeader.html">
    <ng-table-sorter-row></ng-table-sorter-row>
    <tr>
        <th ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)">{{i}}. {{ vm.lang.get('label.priority') }}</th>
        <th ng-repeat="i in vm.range(vm.enrollment_group.maximum_course_random_registration)">{{i}}. {{ vm.lang.get('label.priority') }}</th>
    </tr>
</script>