.simulation-activity-component {
	h2 {
		display: inline-block;
	}
	.green {
		background: green;
		display: inline-block;
		padding: 0px 10px;
		color: #fff;
	}

	.orange {
		background: green;
		display: inline-block;
		padding: 0px 10px;
		color: #fff;
	}

	.red {
		background: red;
		display: inline-block;
		padding: 0px 17px;
		color: #fff;
	}

	.activity-filters select {
		width: 280px;
		max-width: 280px;
	}

	table {
		font-size: 12px;
		.rowspan {
			vertical-align: middle;
		}
		th {
			outline: none;
		}
		td {
			.maximum-input {
				width: 70px;
				height: 30px;
			}
			.note-input {
				border: 0px;
				width: 100%;
				outline: none;
				margin-left: 15px;
			}
			>span {
				line-height: 30px;
			}
			.btn-save-note {
				margin-right: 10px;
			}
		}
		tfoot {
			font-weight: bold;
		}
	}
	.btn {
		font-size: 13px;
		border-radius: 0px;
		.glyphicon {
			margin-right: 3px;
		}
	}
	.btn-lock {
		margin-top: -15px;
		margin-left: 20px;
	}
}
