.teacher-academic-year-component {
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 5px solid #e9eaed;
    width: 100%;
    text-align: right;
    
    ul {
        list-style: none;

        li {
            display: inline-block;
            width: 60px;
            text-align: center;
            margin-right: 5px;
            border: 2px solid #368ee0;

            a {
                text-decoration: none;
                padding: 5px 10px;
                color: #000;
                width: 100%;
                display: block;
            }

            a.active {
                background-color: #368ee0;
                color: #fff;
            }
        }

        li:first-child {
        }
    }
}