<div class="pupil-add-component bg-blur">
    <div layout="column">
        <div class="header">{{vm.lang.get('label.add_pupil')}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.firstname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.firstname" class="form-control" placeholder="{{vm.lang.get('label.firstname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.surname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.surname" class="form-control" placeholder="{{vm.lang.get('label.surname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.address')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.address" class="form-control" placeholder="{{vm.lang.get('label.address')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_code')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.postal_code" class="form-control" placeholder="{{vm.lang.get('label.postal_code')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_name')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.postal_name" class="form-control" placeholder="{{vm.lang.get('label.postal_name')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.mobilephone')}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.mobilephone" class="form-control" placeholder="{{vm.lang.get('label.mobilephone')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.email')}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.email" class="form-control" placeholder="{{vm.lang.get('label.email')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.date_of_birth')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control date-picker" date-range-picker ng-model="vm.pupil.birthdate.startDate" options="vm.opts"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.home_school')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="vm.pupil.school" ng-change="vm.changeSchool()">
                        <option value="" selected hidden />
                        <option ng-value="school.id" ng-repeat="school in vm.schools">{{school.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.class')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="vm.pupil.class">
                        <option value="" selected hidden />
                        <option ng-repeat="class in vm.subgroups" ng-value="class.id">{{class.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="md-raised md-primary md-button btn-add-pupil" ng-click="vm.addPupil()">{{vm.lang.get('label.save')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>