.tour-plan-dialog {
  width: 800px;
  overflow: hidden;

  .modal-header .modal-close {
    padding: 10px 20px;
    margin: 0px;
    font-size: 18px;
    float: right;
    color: #AAA;
    cursor: pointer;
  }

  .modal-body {
    overflow: auto;

    .form-group {
      clear: both;

      label {
        width: 120px;
        color: #000;
        text-align: right;
        clear: both;
        float:left;
        margin-right:15px;
        margin-top: 10px;

        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        color: rgb(85, 85, 85);
      }

      select {
        max-width: calc(100% - 135px);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      textarea {
        font-size: 12px !important;
        font-weight: normal;
        line-height: 20px;

        max-width: calc(100% - 135px);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      input {
        border: 1px solid #aaa;
        padding: 6px 10px;
        margin: 0px;
        background: #FFF;
        max-width: calc(100% - 135px);
        display: inline-block;
        height: auto;
        font-size: 13px;
        line-height: 15px;
        color: #575757;
        vertical-align: middle;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      .masked-time {
        width: 100%;
        max-width: 70px;
        padding-left: 5px;
      }
    }

    .actions {
      float: right;
    }
  }

  .btn-red {
    background-color: #e51400;
    color: #FFF;
    border: 0;
    border-radius: 0;
  }

  .btn-red:hover {
    background-color: #b21000;
    color: #fff;
  }

  .btn-blue {
    border-radius: 0;
    background-color: #368ee0;
    color: #FFF;
  }

  .btn-blue:hover {
    background-color: #1e74c5;
    color: #fff;
  }
}