<md-dialog class="tour-plan-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.cancel()">✕</a>
        <h3>{{vm.lang.get('label.tour_plan')}}</h3>
    </div>
    <div class="modal-body">
        <form class="activity-details-edit">
            <div class="form-group">
                <label>
                    {{vm.lang.get('label.name')}}
                </label>
                <div class="control">
                    <input type="text" class="form-control name" placeholder="{{vm.lang.get('label.course_title')}}" ng-model="vm.activity.name" value="{{vm.activity.name}}" />
                </div>
            </div>
            <div class="form-group">
                <label>
                    {{vm.lang.get('label.description')}}
                </label>
                <div class="control">
                    <textarea class="form-control description" placeholder="{{vm.lang.get('label.description')}}" ng-model="vm.activity.description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>{{vm.lang.get('label.point')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.date')}}
                        </label>
                        <div class="control date-picker">
                            <input type="text" class="form-control date-picker" required date-range-picker ng-model="vm.activity.options.dks_school_tour_date" options="vm.opts"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time')}}
                        </label>
                        <div class="control">
                            <input type="text" ng-model="vm.activity.options.dks_school_tour_start_time" ng-model-options='{ debounce: 500 }' ng-change="vm.changeTime(item, 'start')" ui-options="vm.maskOptions" ui-mask="v9:x8" model-view-value="true" ui-mask-placeholder class="masked-time border-box" value="" placeholder="Starttid">
                            <input type="text" ng-model="vm.activity.options.dks_school_tour_end_time" ng-model-options='{ debounce: 500 }' ng-change="vm.changeTime(item, 'end')" ui-options="vm.maskOptions" ui-mask="v9:x8" model-view-value="true" ui-mask-placeholder class="masked-time border-box" value="" placeholder="Starttid">
                        </div>
                    </div>
                    <h3>{{vm.lang.get('label.location')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.place')}}
                        </label>
                        <div class="control">
                            <select class="form-control" ng-model="vm.activity.options.summer_school_school_id" >
                                <option value="null">{{vm.lang.get('label.select_location')}}</option>
                                <option ng-repeat="s in vm.schools" value="{{s.id}}">{{s.name}}</option>>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.number_of_pitches')}}
                        </label>
                        <div class="control">
                            <select class="form-control" ng-model="vm.activity.options.dks_school_participants_maximum" ng-options="n for n in vm.range(1,30) track by n">
                                <option value="">{{vm.lang.get('label.select')}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>
                        {{vm.lang.get('label.location')}}
                    </h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.location_name')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control name" placeholder="{{vm.lang.get('label.location_name')}}" ng-model="vm.activity.location_description" value="{{vm.activity.location_description}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.location_contact_person')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control name" placeholder="{{vm.lang.get('label.location_contact_person')}}" ng-model="vm.activity.location_contact_person" value="{{vm.activity.location_contact_person}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.location_contact_phone')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control name" placeholder="{{vm.lang.get('label.location_contact_phone')}}" ng-model="vm.activity.location_contact_phone" value="{{vm.activity.location_contact_phone}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a class="submit btn btn-blue" ng-click="vm.submit()"><i class="glyphicon glyphicon-floppy-disk"></i> {{vm.lang.get('label.save')}}</a>
                <a class="cancel btn btn-red" ng-click="vm.cancel()"><i class="glyphicon glyphicon-pencil"></i> {{vm.lang.get('label.cancel')}}</a>
            </div>
        </form>
    </div>
</md-dialog>