$brand: #00A4C6;
$black: #535362;
$grey: #888888;
$navy: #21455B;
$border: #E9F0F3;
$background: #F6F9FA;

$color-0: #339933;
$color-1: #f8a31f;
$color-2: #e51400;
$color-3: #368ee0;
$color-4: #ff0097;
$color-5: #c10161;
$color-6: #573c92;
$color-7: #6ebf5d;

.color {
  color: #fff;
  font-size: 1.286em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: -10px;
  right: -25px;
  z-index: 1;
  text-transform: uppercase;
}
.color-0 {
  @extend .color;
  background: $color-0;
}
.color-1 {
  @extend .color;
  background: $color-1;
}
.color-2 {
  @extend .color;
  background: $color-2;
}
.color-3 {
  @extend .color;
  background: $color-3;
}
.color-4 {
  @extend .color;
  background: $color-4;
}
.color-5 {
  @extend .color;
  background: $color-5;
}
.color-6 {
  @extend .color;
  background: $color-6;
}
.color-7 {
  @extend .color;
  background: $color-7;
}