.enrollment-groups-dialog {
    width: 500px;

    .modal-header .modal-close {
        padding: 10px 20px;
        margin: 0px;
        font-size: 18px;
        float: right;
        color: #AAA;
        cursor: pointer;
    }

    .md-dialog-content {
        max-height: 400px;
        overflow-y: auto;
    }

    .btn-red {
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #e51400;
        color: #FFF;
        border: 0;
        border-radius: 0;
    }

    .btn-green {
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #393;
        color: #FFF;
        border: 0;
        border-radius: 0;
    }

    .btn-red:hover {
        background-color: #b21000;
        color: #fff;
    }
}