<div class="dks activity-component">
	<md-toolbar style="margin-top: 20px">
		<div class="md-toolbar-tools">
			<h1>
			  <span>{{vm.lang.get('label.activities')}}</span>
			</h1>
			<span flex></span>
			<a class="btn btn-blue" ng-click="vm.addActivity()"><i class="glyphicon glyphicon-plus"></i> {{vm.lang.get('label.new_activity')}}</a>
		</div>
	</md-toolbar>
	<div class="activity-filters">
		<md-input-container>
			<select ng-model="subjectFilterSelected" ng-change="vm.changeFilter('course.subject', subjectFilterSelected)">
				<option value="">{{vm.lang.get('label.select_subject_to_filter')}}</option>
				<option value="{{courseFilter.course.subject}}" ng-repeat="courseFilter in vm.courseFilters">{{ (courseFilter.course.subject || 'Ingen skole')}}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="semesterFilterSelected" ng-change="vm.changeFilter('course.options.dks_semester', semesterFilterSelected)">
				<option value="">{{vm.lang.get('label.select_semester_to_filter')}}</option>
				<option value="{{courseFilter.semester}}" ng-repeat="courseFilter in vm.courseFilters">{{ (courseFilter.semester_label || 'Ingen kurstyper')}}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="yearGradeFiltersSelected" ng-change="vm.changeFilter('activity.year_grade', yearGradeFiltersSelected)">
				<option value="">{{vm.lang.get('label.select_age_to_filter')}}</option>
				<option value="{{gradeFilter.year_grade}}" ng-repeat="gradeFilter in vm.yearGradeFilters">{{ gradeFilter.year_grade }}</option>
			</select>
		</md-input-container>

		<md-input-container>
			<select ng-model="weekFiltersSelected" ng-change="vm.changeFilter('activity.week', weekFiltersSelected)">
				<option value="" selected>{{vm.lang.get('label.select_week_to_filter')}}</option>
				<option value="{{weekFilter.week}}" ng-repeat="weekFilter in vm.weekFilters">{{ weekFilter.year + ' Uke ' + weekFilter.week }}</option>
			</select>
		</md-input-container>
	</div>
	<table ng-table="vm.activityTableParams" class="table">
		<tr ng-repeat="activity in $data" ng-if="activity.activity.is_default" ng-class="{'book-on-course': activity.course.book_on_course == true}" ng-click="vm.displayDetail(activity)">
			<td data-title="$root.getLabel('course_type')" sortable="'course.name'" width="15%">
				{{activity.course.name}}
			</td>
			<td data-title="$root.getLabel('name')" sortable="'activity.name'" width="15%">
				{{activity.course.book_on_course == true ? activity.activity.name : ''}}
			</td>
			<td data-title="$root.getLabel('location')" sortable="'summer_school.school.name'">
				{{activity.summer_school.school.name}}
			</td>
			<td data-title="$root.getLabel('week')" sortable="'activity.week_start'">
				{{ activity.activity.week_start }}
			</td>
			<td data-title="$root.getLabel('year')" sortable="'course.birthdate_minimum'">
				{{ (activity.course.birthdate_minimum || activity.course.birthdate_maximum) ?  $root.formatDate(activity.course.birthdate_minimum, 'DD.MM.YY')  + ' - ' + $root.formatDate(activity.course.birthdate_maximum, 'DD.MM.YY') : ''}}
			</td>
			<td data-title="$root.getLabel('date')">
				{{ vm.formatTourDate(activity.activity.date_start) }}
			</td>
			<td data-title="$root.getLabel('time')">
				{{ activity.activity.options.dks_school_tour_start_time }} - {{ activity.activity.options.dks_school_tour_end_time }}
			</td>
			<td data-title="$root.getLabel('number_of_pitches')" sortable="'summer_school.participants_maximum'">
				{{activity.summer_school.participants_maximum}}
			</td>
			<td  data-title="$root.getLabel('number_of_confirmed_seats')" sortable="'activity.number_of_confirmed'">
				{{activity.activity.number_of_confirmed}}
			</td>
			<td data-title="$root.getLabel('number_of_waiting')" sortable="'activity.number_of_waiting'">
				{{activity.activity.number_of_waiting}}
			</td>
			<td data-title="$root.getLabel('whole_groups_of_participants_are_divided_into')" sortable="'activity.number_of_groups'">
				{{ activity.activity.number_of_groups | number}}
			</td>
			<td data-title="$root.getLabel('book_on_course')" >
				<span ng-if="activity.course.book_on_course == true"  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</td>
			<td data-title="''">
				<a class="btn btn-primary pull-right" ng-click="vm.activeToggle($event, activity.activity)"
				   ng-if="!activity.activity.active">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					{{ vm.lang.get('label.include') }}
				</a>

				<a class="btn btn-success pull-right" ng-click="vm.activeToggle($event,activity.activity)"
				   ng-if="activity.activity.active">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{{ vm.lang.get('label.remove') }}
				</a>
			</td>
		</tr>
		<tr>
			<th colspan="7"></th>
			<th>Sum</th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_maximum') }} </th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_confirmed') }} </th>
			<th>{{ vm.calculateActivityFieldTotal($data, 'participants_waiting') }} </th>
			<th></th>
			<th></th>
		</tr>
	</table>
</div>