<div class="guardian-profile-dialog">
    <div layout="column">
        <div class="header">{{vm.lang.get('label.edit_pupil')}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.firstname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.firstname" class="form-control" placeholder="{{vm.lang.get('label.firstname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.surname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.surname" class="form-control" placeholder="{{vm.lang.get('label.surname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.address')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.address" class="form-control" placeholder="{{vm.lang.get('label.address')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_code')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.postal_code" class="form-control" placeholder="{{vm.lang.get('label.postal_code')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_name')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.postal_name" class="form-control" placeholder="{{vm.lang.get('label.postal_name')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.mobilephone')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.mobilephone" class="form-control" placeholder="{{vm.lang.get('label.mobilephone')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.email')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.guardian.email" class="form-control" placeholder="{{vm.lang.get('label.email')}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="md-raised md-primary md-button btn-add-guardian" ng-click="vm.updateGuardian()">{{vm.lang.get('label.save')}}</button>
                    <button type="button" class="md-raised md-info md-button btn-add-guardian" ng-click="vm.hide()">{{vm.lang.get('label.cancel')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>