@import "./angular/material/project";

.guardian-profile-dialog {
  min-width: 500px;
  padding: 20px;
  .header{
    font-size: 1.786em;
    margin-bottom: 30px;
  }
  .btn-add-pupil{
    margin: 0px;
  }
  .red-mark{
    color: red;
    margin-left: 2px;
  }
}