<div class="weather-component" ng-if="vm.fore_cast">
    <span class="weather-title">{{vm.lang.get('label.weather_tomorrow')}}:</span>
    <div class="circle-weather">
        <img ng-src="http://api.yr.no/weatherapi/weathericon/1.1/?symbol={{vm.fore_cast.symbol}};content_type=image/png" />
        <span class="temperature">{{vm.fore_cast.temperature}}<sup>o</sup></span>
    </div>
</div>