.weather-component {
  margin-top: 12px;
  .weather-title {
    color: #575962;
    font-size: 1.429em;
    vertical-align: bottom;
  }
  .circle-weather {
    display: inline-block;
    font-size: 2.857em;
    width: 103px;
    height: 103px;
    background: #85d5d1;
    border-radius: 50%;
    line-height: 103px;
    position: relative;
    img{
      vertical-align: top;
      margin-top: 20px;
      margin-left: 10px;
    }
    .temperature {
      position: absolute;
      right: -15px;
      bottom: -15px;
    }
  }
}