<div class="pupil-add-dialog">
    <div layout="column">
        <div class="header">{{vm.lang.get(vm.pupil.id ? 'label.edit_pupil' : 'label.add_pupil')}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.firstname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.firstname" ng-if="vm.edit_firstname != false" class="form-control" placeholder="{{vm.lang.get('label.firstname')}}">
                    <input type="text" ng-model="vm.pupil.firstname" ng-if="vm.edit_firstname == false" disabled class="form-control" placeholder="{{vm.lang.get('label.firstname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.surname')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.surname" ng-if="vm.edit_surname != false" class="form-control" placeholder="{{vm.lang.get('label.surname')}}">
                    <input type="text" ng-model="vm.pupil.surname" ng-if="vm.edit_surname == false" disabled class="form-control" placeholder="{{vm.lang.get('label.surname')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.address')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.address" class="form-control" placeholder="{{vm.lang.get('label.address')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_code')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.postal_code" class="form-control" placeholder="{{vm.lang.get('label.postal_code')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.postal_name')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.postal_name" class="form-control" placeholder="{{vm.lang.get('label.postal_name')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.mobilephone')}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.mobilephone" class="form-control" placeholder="{{vm.lang.get('label.mobilephone')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.email')}}</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.pupil.email" class="form-control" placeholder="{{vm.lang.get('label.email')}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.date_of_birth')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control date-picker" date-range-picker ng-model="vm.pupil.birthdate.startDate" options="vm.opts"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.home_school')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <md-autocomplete
                            md-selected-item="vm.pupil.school"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item); vm.changeSchool()"
                            md-items="item in vm.querySearch(vm.searchText) | orderBy: 'name'"
                            md-item-text="item.name"
                            md-min-length="0"
                            md-autoselect=true
                            placeholder="{{vm.lang.get('label.home_school')}}">
                        <md-item-template>
                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{vm.searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{vm.lang.get('label.class')}}<span class="red-mark">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="vm.pupil.class">
                        <option value="" selected hidden />
                        <option ng-repeat="class in vm.subgroups" ng-value="class.id">{{class.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="md-raised md-primary md-button btn-add-pupil" ng-click="vm.addPupil()">{{vm.lang.get('label.save')}}</button>
                    <button type="button" class="md-raised md-info md-button btn-add-pupil" ng-click="vm.hide()">{{vm.lang.get('label.cancel')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>