@import "./angular/material/project";

.select-role-dialog{
  width: 600px;

  .modal-content{
    padding: 20px;
    border-radius: 0px;
    box-shadow: none;
    text-align: center;
  }
  .modal-header .modal-close {
    padding: 10px 20px;
    margin: 0px;
    font-size: 18px;
    float: right;
    color: #AAA;
    cursor: pointer;
  }

  .box-blue, .btn-blue {
    background-color: #368ee0;
    color: #FFF;
  }

  .btn-blue:hover {
    background-color: #1e74c5;
    color: #fff;
  }

  .box-red, .btn-red{
    background-color: #e51400;
    color: #FFF;
  }

  .btn-red:hover {
    background-color: #b21000;
    color: #fff;
  }

  .modal-actions input{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    max-width: 65px;
  }
}
.header {
  .header-top {
    background: #fcfeff;
    border-bottom: 3px solid #8CA6B0;
    .enrollment-groups{
      margin-left: 12px;
    }
  }
  .header-logo {
    position: relative;
    min-height: 85px;
    .school-logo{
      display: flex;
      align-items: center;
      img {
        width: 50px;
        display: inline-block;
      }
      .school-name{
        margin-left: 10px;
        font-size: 1.571em;
      }
    }
    .expand-icon{
      &:hover{
        background: none;
      }
      margin-left:-20px;
      color: #70C598;
    }
    md-menu {
      .expand-icon{
        margin-left:-40px;
      }
    }
    .user-setting{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px;
      img{
        width: 50px;
      }
    }
  }
  .schoollink-logo {
    left: 30px;
    top:30px;
    position: absolute;
    img {
      width: 24px;
    }
  }
  .pupil {
    margin: 12px 0;
    li {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
      a {
        text-decoration: none!important;
      }
      .pupil-img {
        width: 70px;
        height: 70px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        &:before {
          border: 6px solid #a6aaae;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          opacity: 0.5;
          content: "";
          position: absolute;
          top:0;
          left: 0;
          bottom: 0;
          right:0;
          z-index: 1;
        }
        img {
          min-width: 100%;
          min-height: 100%;
          bottom: -100%;
          top: -100%;
          left: -100%;
          right: -100%;
          margin: auto;
          max-height: 100%;
          max-width: none;
          position: absolute;
        }
      }
      .pupil-name {
        color: #3F525D;
        width: 70px;
        text-align: center;
        margin-top: 5px;
        display: block;
      }
    }
  }
  .menu {
    background: #fff;
    display: block;
    width: 100%;
    padding: 15px 25px;
    border-bottom: 3px solid #8CA6B0;
    margin-bottom: 30px;
    .menu-item {
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      a {
        color: #3F525D;
        text-decoration: none!important;
        span {
          display: block;
          margin-top:5px;
        }
      }
    }
  }

  .header-menu {
    .header-users{
      padding: 10px 10px 10px 30px;
      .md-select-placeholder{
        color: inherit;
      }
    }
    .weather {
      margin-top: 12px;
      .weather-title {
        color: #575962;
        font-size: 1.429em;
        vertical-align: bottom;
      }
      .circle-weather {
        display: inline-block;
        font-size: 2.857em;
        width: 103px;
        height: 103px;
        background: #85d5d1;
        border-radius: 50%;
        line-height: 103px;
        position: relative;
        img{
          vertical-align: top;
          margin-top: 20px;
          margin-left: 10px;
        }
        .temperature {
          position: absolute;
          right: -15px;
          bottom: -15px;
        }
      }
    }
  }
  .avatar-container {
    position: relative;
    display: inline-block;
    .avatar {
      float: right;
      margin-top: 7px;
      width: 50px;
      height: 50px;
    }
    .name {
      right: -5px;
      bottom: -5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 1em;
    }
  }


  .contrast {
    font-size: 1.357em;
    line-height: 85px;
  }
  .pupil-info{
    padding: 10px;
    .icon-edit-profile{
      text-decoration: none;
      color: inherit;
      outline: none;
      md-icon{
        margin-top: -10px;
      }
    }
  }
}