<div class="tour-plan-component">
    <div class="row">
        <div class="col-md-2">
            Dks - Oslo kommune
            www.dks.osloskolen.no
            dks@ude.oslo.kommune.no
            Postboks 6127, Etterstad, 0602 Oslo
        </div>
        <div class="col-md-6">
            <p class="tour-plan-title">Turnéplan:</p>
            <p class="tour-plan-name">{{vm.course.name}}</p>
        </div>
        <div class="col-md-2">
            Dks - Oslo kommune
            www.dks.osloskolen.no
            dks@ude.oslo.kommune.no
            Postboks 6127, Etterstad, 0602 Oslo
        </div>
        <div class="col-md-2">
            Dks - Oslo kommune
            www.dks.osloskolen.no
            dks@ude.oslo.kommune.no
            Postboks 6127, Etterstad, 0602 Oslo
        </div>
    </div>
    <div class="row toolbar">
        <div class="col-md-12">
            <a class="btn btn-blue pull-right" ng-click="vm.addActivity()"><i class="glyphicon glyphicon-plus"></i> {{vm.lang.get('label.new_activity')}}</a>
        </div>
    </div>
    <table class="tour-list table table-condensed table-striped" ng-table="vm.activityTableParams">
        <thead>
        <tr>
            <th>{{vm.lang.get('label.week')}}</th>
            <th>{{vm.lang.get('label.date')}}</th>
            <th>{{vm.lang.get('label.tour_time')}}</th>
            <th>{{vm.lang.get('label.tour_location')}}</th>
            <th>{{vm.lang.get('label.participant')}}</th>
            <th>{{vm.lang.get('label.class')}}</th>
            <th>{{vm.lang.get('label.number_participant')}}</th>
            <th>{{vm.lang.get('label.sum_participant')}}</th>
            <th>{{vm.lang.get('label.note')}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activity in $data">
            <td>{{vm.toWeek(activity.date_start)}}</td>
            <td>
                <span class="date-name">{{vm.getDay(activity.date_start)}}</span>
                <div class="popover-wrapper">
                    <a href="#"
                       e-smartDays="true"
                       e-format="dd.MM.yyyy"
                       e-ui-jq="mask"
                       e-ui-options="vm.maskDateOptions"
                       e-ui-mask="d9.m8.y765"
                       onbeforesave="vm.updateActivity($event, activity)"
                       editable-text="vm.formatDate(activity.date_start)">
                        {{vm.formatDate(activity.date_start)}}
                    </a>
                </div>
            </td>
            <td>
                <div class="popover-wrapper">
                    <a href="#"
                       e-ui-jq="mask"
                       e-ui-options="vm.maskOptions"
                       e-ui-mask="v9:x8"
                       e-model-view-value="true"
                       onbeforesave="vm.updateActivity($event, activity)"
                       editable-text="activity.options.dks_school_tour_start_time">
                        {{activity.options.dks_school_tour_start_time}}
                    </a>
                    -
                    <a href="#"
                       e-ui-jq="mask"
                       e-ui-options="vm.maskOptions"
                       e-ui-mask="v9:x8"
                       e-model-view-value="true"
                       onbeforesave="vm.updateActivity($event, activity)"
                       editable-text="activity.options.dks_school_tour_end_time">
                        {{activity.options.dks_school_tour_end_time}}
                    </a>
                </div>
            </td>
            <td>{{activity.name}}</td>
            <td>{{activity.name}}</td>
            <td>{{activity.name}}</td>
            <td>{{activity.name}}</td>
            <td>{{activity.name}}</td>
            <td>
                <div class="popover-wrapper">
                    <a href="#"
                       onbeforesave="vm.updateActivity($event, activity)"
                       editable-text="activity.description">
                        {{activity.description}}
                    </a>
                </div>
            </td>
            <td>
                <a class="btn btn-red pull-right" ng-click="vm.deleteActivity($event, activity)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{ vm.lang.get('label.remove') }}
                </a>
                <a class="btn btn-blue btn-clone pull-right" ng-click="vm.cloneActivity($event, activity)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {{ vm.lang.get('label.clone_activity') }}
                </a>
                <a class="btn btn-blue pull-right btn-edit" ng-click="vm.selectTour(activity)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    {{ vm.lang.get('label.edit') }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
