.tour-plan-component {
  padding: 25px;

  .toolbar {
    margin: 15px 0;
  }

  .tour-plan-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .tour-plan-name {
    font-size: 30px;
  }

  table {
    margin-top: 25px;

    th {
      text-align: left;
    }

    .date-name {
      display: inline-block;
      width: 40px;
    }

    select {
      width: 220px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      display: inline-block;
      height: 32px;
      margin-right: 2px;
      margin-left: 2px;
      padding: 4px 6px;
      font-size: 14px;
      line-height: 20px;
      color: #555555;
      vertical-align: middle;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }



  .btn {
    background: #aaa;
    background: #ddd;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    color: #FFF;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 13px !important;
    height: auto;
    line-height: initial;
    margin: 0px;
    moz-border-radius: 0px;
    moz-box-shadow: none;
    padding: 5px 7px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    vertical-align: initial;
    webkit-border-radius: 0px;
    webkit-box-shadow: none;
    width: auto;
  }

  .box-red, .btn-red {
    background-color: #e51400;
    color: #FFF;
  }

  .btn-red:hover {
    background-color: #b21000;
    color: #fff;
  }

  .box-blue, .btn-blue {
    background-color: #368ee0;
    color: #FFF;
  }

  .btn-blue:hover {
    background-color: #1e74c5;
    color: #fff;
  }

  .btn-clone,
  .btn-edit {
    margin-right: 5px;
  }

  .editable-buttons {
    .btn-primary {
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
    }
    button {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }

  /* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
  .editable-bstime .editable-input i.icon-chevron-up:before {
    content: '\e113';
  }
  .editable-bstime .editable-input i.icon-chevron-down:before {
    content: '\e114';
  }
  .editable-bstime .editable-input i.icon-chevron-up,
  .editable-bstime .editable-input i.icon-chevron-down {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
}