<md-dialog class="add-activity-course-dialog">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>Velg kurs</h3>
    </div>
    <md-divider></md-divider>
    <div class="list-activity-course" ng-show="!vm.show_add">
        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="course-list table table-condensed table-striped">
                    <tbody>
                        <tr ng-repeat="item in vm.courses" ng-click="vm.selectCourse(item)">
                            <td><strong>{{item.name}}</strong></td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input class="btn btn-red" type="button" ng-click="vm.hide()" value="Lukk" />
        </md-dialog-actions>
    </div>
</md-dialog>