<md-dialog class="enrollment-groups-dialog dks">
    <div class="modal-header">
        <a class="modal-close" ng-click="vm.hide()">✕</a>
        <h3>{{vm.lang.get('label.select_enrollment_groups')}}</h3>
    </div>
    <md-divider></md-divider>
    <div class="list-enrollment-groups">
        <md-dialog-content>
            <div class="md-dialog-content">
                <p class="default-enrollment-group"><strong>{{vm.lang.get('label.default_enrollment_group')}}:</strong> {{vm.selected_enrollment_group.name}}</p>
                <table class="enrollment-groups table table-condensed table-striped">
                    <thead>
                        <th>{{vm.lang.get('label.name')}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.groups" ng-click="vm.selectEnrollmentGroup(item)">
                            <td><strong>{{item.name}}</strong></td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input class="btn btn-green" type="button" ng-click="vm.clone()" value="Klone" />
            <input class="btn btn-red" type="button" ng-click="vm.hide()" value="Lukk" />
        </md-dialog-actions>
    </div>
</md-dialog>