@import "./angular/material/project";

.footer{
  text-align: center;
  background-color: $background;
  border-top: 1px solid $border;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $grey;
  font-weight: 300;
  //position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text{
  padding-top: 10px;
  opacity: 0.8;
  color: $grey;
}

.footer-link{
  text-decoration: none;
  color: $grey !important;
  font-weight: 400;
}

.footer-link:hover{
  text-decoration: underline;
}

.footer-logo{
  width: 49px;
  height: 46px;
}
