<div class="header-so">
	<div class="header-top">
		<div class="schoollink-logo">
			<img src="css/images/schoollink-logo.png" alt="Schoollink"/>
		</div>
		<div class="container">
			<div layout="row" class="header-logo" layout-align="center">
				<div class="col-md-3 school-logo" ng-click="vm.getHeaderSettings();vm.$state.go('app.landing')">
					<div class="avatar pupil-img"><img ng-src="/img/profile/{{vm.school_owner.image_id}}" alt="{{vm.school_owner.name}}"></div>
					<span class="school-name contrast">{{vm.school_owner.name}}</span>
				</div>
				<div class="col-md-3">
					<span><span class="contrast">{{vm.lang.get('label.font_contrast')}}</span><md-icon md-font-library="material-icons" class="md-36 md-button expand-icon">expand_more</md-icon></span>
				</div>
				<div layout="row" class="col-md-4" layout-align="center center">
					<span class="contrast">{{vm.lang.get('label.enrollment_groups')}}</span>
					<md-select ng-model="vm.selectedGroup" placeholder="{{vm.lang.get('label.enrollment_groups')}}" class="enrollment-groups" ng-change="vm.changeEnrollmentGroup()">
						<md-option ng-value="group.id" ng-repeat="group in vm.enrollment_groups" ng-if="$first" selected>{{group.name}}</md-option>
						<md-option ng-value="group.id" ng-repeat="group in vm.enrollment_groups" ng-if="!$first">{{group.name}}</md-option>
					</md-select>
				</div>
				<div class="col-md-2 user-setting">
					<a ui-sref="app.user-profile" ng-if="vm.view_mode != 1 && !vm.teacher_only && vm.is_parent">
						<div class="avatar pupil-img" ng-if="vm.user.image_id"><img ng-src="/img/profile/{{vm.user.image_id}}" /></div>
						<div class="avatar pupil-img" ng-if="!vm.user.image_id"><img src="/img/profile/00000-00000-00000-00000" /></div>
					</a>
					<a ui-sref="app.profile" ng-if="vm.view_mode != 1 && !vm.teacher_only && vm.is_pupil">
						<div class="avatar pupil-img" ng-if="vm.user.image_id"><img ng-src="/img/profile/{{vm.user.image_id}}" /></div>
						<div class="avatar pupil-img" ng-if="!vm.user.image_id"><img src="/img/profile/00000-00000-00000-00000" /></div>
					</a>
					<a ng-if="vm.view_mode == 1 || vm.teacher_only">
						<div class="avatar pupil-img" ng-if="vm.user.image_id"><img ng-src="/img/profile/{{vm.user.image_id}}" /></div>
						<div class="avatar pupil-img" ng-if="!vm.user.image_id"><img src="/img/profile/00000-00000-00000-00000" /></div>
					</a>
					<md-menu>
						<md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							<md-icon md-font-library="material-icons"  class="md-36 md-button expand-icon">expand_more</md-icon>
						</md-button>
						<md-menu-content width="6">
							<md-menu-item ng-if="vm.teacher_role_id">
								<a ng-click="vm.goToTeachPortal()">{{vm.lang.get('label.go_to_admin_portal')}}</a>
							</md-menu-item>
							<md-menu-item ng-if="vm.view_mode == 1">
								<a ng-click="vm.switchMode()">{{vm.lang.get('label.switch_to_parent')}}</a>
							</md-menu-item>
							<md-menu-item ng-if="vm.view_mode != 1 && vm.teachers.length != 0 && !vm.teacher_only">
								<a ng-click="vm.switchMode()">{{vm.lang.get('label.switch_to_teacher')}}</a>
							</md-menu-item>
							<md-menu-item>
								<a outer-link="/sso/logout">{{vm.lang.get('label.log_out')}}</a>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
		</div>
	</div>
	<div class="header-menu">
		<div class="container">
			<div layout="row">
				<div class="header-users col-md-12" ng-if="vm.view_mode != 1 && !vm.teacher_only">
					<ul class="pupil" ng-if="!vm.is_pupil">
						<li ng-repeat="pupil in vm.pupils" ng-class="vm.pupil.id === pupil.user_id ? 'active' : ''">
							<a ng-click="vm.changePupil(pupil)" title="{{pupil.title}}" ng-if="pupil.id">
								<div class="avatar-container">
									<!--<div ng-if="pupil.image_id" class="avatar pupil-img">
										<img ng-src="{{pupil.image_id}}"/>
									</div>
									<div ng-if="!pupil.image_id" class="avatar pupil-img">
										<img class="avarta-child" src="/guardian/img/design/avar.png">
									</div>-->
									<span class="name color-child">{{pupil.title}}</span>
								</div>

								<span class="pupil-name">{{pupil.name}}</span>
							</a>
						</li>
						<li class="add-pupil" ng-if="vm.is_parent">
							<a ng-click="vm.addPupil()">
								<md-icon md-font-library="material-icons" class="md-36">add_circle_outline</md-icon>
							</a>
						</li>
					</ul>
					<div class="pupil-info" ng-if="vm.pupil && !vm.is_pupil">
						<a ui-sref="app.profile" class="icon-edit-profile">
							<b>{{vm.pupil.surname +" "+ vm.pupil.firstname}} {{vm.pupil.grade}}. trinn <i><md-icon md-font-library="material-icons" class="md-28">expand_more</md-icon>{{vm.pupil.school.name}}</i></b>
							<!--<md-icon md-font-library="material-icons" class="md-28">edit</md-icon>-->
						</a>
					</div>
				</div>
				<div class="header-users col-md-12" ng-if="vm.view_mode == 1 || vm.teacher_only">
					<div class="row">
						<div class="col-md-12">
							<h4>{{vm.lang.get('label.title_teacher_mode')}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<md-select placeholder="{{vm.lang.get('label.select_school')}}" ng-model="vm.selected_school_id">
								<md-option ng-value="teacher.school.id" ng-repeat="teacher in vm.teachers">{{ teacher.school.name}}</md-option>
							</md-select>
						</div>
						<div class="col-md-3" ng-if="vm.selected_school_id != null">
							<md-select placeholder="{{vm.lang.get('label.select_class')}}" ng-model="vm.selected_group_id" ng-change="vm.loadUsers()">
								<md-option ng-value="class.id" ng-repeat="class in vm.teachers[vm.selected_school_id].classes">{{class.name}}</md-option>
							</md-select>
						</div>
						<div class="col-md-3" ng-if="vm.selected_group_id != null">
							<md-select placeholder="{{vm.lang.get('label.select_pupil')}}" ng-model="vm.selected_user" ng-change="vm.changePupil(null, vm.selected_user)">
								<md-option ng-value="user" ng-repeat="user in vm.users | orderBy : 'firstname'">{{user.firstname}} {{user.surname}}</md-option>
							</md-select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>