<md-content class="Page-container profile-page">
	<div layout="row">
		<div flex="35">
			<guardian-user-profile></guardian-user-profile>
		</div>
		<div flex="65">
			<!--<guardian-pupil-add></guardian-pupil-add>-->
		</div>
	</div>
</md-content>