.import-emails-component {
  position: relative;
  background: #fff;
  margin-top: 20px;
  color: #3F525D;
  .header{
    font-size: 1.786em;
    padding: 10px 20px 10px 20px;
  }
  .emails {
    padding: 10px 20px 20px;
    .info {
      font-family: 'Open Sans';
      font-size: 1.143em;
      line-height: 1.857em;
      padding-left: 10px;
    }
    .md-subheader{
      background-color: white;
    }
  }
}