<div class="import-emails-component" ng-if="vm.user_emails.length != 0">
	<div class="header" flex>{{vm.lang.get('label.teacher_profile_import_emails')}}</div>
	<div class="emails">
		<div ng-repeat="(key, email) in vm.user_emails">
			<div class="md-no-sticky md-subheader">
				<div class="md-subheader-inner"><div class="md-subheader-content"><span class="ng-scope">{{vm.lang.get('label.import_emails_'+key)}}</span></div></div>
			</div>
			<md-list>
				<md-list-item class="md-1-line" ng-repeat="value in email">
					<div class="md-list-item-text">
						<p>{{value.email}}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>