<div class="activity-detail-component">
    <h2>{{vm.activity.name ? vm.lang.get('label.activity') + ': ' + vm.activity.name : vm.lang.get('label.new_activity')}}</h2>
    <div class="activity-detail-container" >
        <div class="row">
            <div class="col-md-3">
                <div class="activity-details-view" ng-if="!vm.show_edit_view">
                    <h3>{{vm.activity.name}}</h3>

                    <section class="course">
                        <h5 class="title">{{vm.lang.get('label.course')}}</h5>
                        <p>{{vm.activity.course.name}}</p>
                    </section>

                    <section class="point">
                        <h5 class="title">{{vm.lang.get('label.point')}}</h5>
                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.tour_date')}}
                            </div>
                            <div class="text">
                                {{ vm.formatTourDate(vm.activity.date_start) }}
                            </div>
                        </div>
                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.days')}}
                            </div>
                            <div class="text">
                                <span class="time-range">
                                    {{ vm.activity.options.dks_school_tour_start_time }} - {{ vm.activity.options.dks_school_tour_end_time }}
                                </span>
                            </div>
                        </div>
                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.note_field_school')}}
                            </div>
                            <div class="text">
                                <span>
                                    {{ vm.activity.options.dks_note_field_school }}
                                </span>
                            </div>
                        </div>
                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.note_field_artist')}}
                            </div>
                            <div class="text">
                                <span>
                                    {{ vm.activity.options.dks_note_field_artist }}
                                </span>
                            </div>
                        </div>
                    </section>

                    <section class="location">
                        <h5 class="title">{{vm.lang.get('label.location')}}</h5>

                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.place')}}
                            </div>
                            <div class="text">
                                {{vm.activity.school.name}}
                            </div>
                        </div>

                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.number_of_pitches')}}
                            </div>
                            <div class="text">
                                {{vm.activity.options.summer_school_participants_maximum}}
                            </div>
                        </div>

                        <div class="section-control">
                            <div class="s-label">
                                {{vm.lang.get('label.limited_seats')}}
                            </div>
                            <div class="text">
                                {{vm.activity.options.summer_school_participants_limit}} (Overbooking)
                            </div>
                        </div>
                    </section>
                    <div ng-if="vm.activity.options.summer_school_school_id" style="margin: 30px 0 10px">
                        <ng-map center="[{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.latitude}}, {{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.longitude}}]" zoom="14">
                            <marker position="{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.latitude}},{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.longitude}}" title="{{vm.schools[vm.activity.options.summer_school_school_id].name}}"></marker>
                        </ng-map>
                    </div>
                    <section>
                        <h5 class="title">{{vm.lang.get('label.form')}}</h5>
                        <div class="form-group">
                            <a class="btn btn-blue" outer-link="/#/MessagesHandler/CreateMessage/?activity_id={{vm.activity.id}}&method=email"><i class="glyphicon glyphicon-send"></i> {{vm.lang.get('message.send_message_to_participants')}}</a>
                        </div>
                    </section>
                    <div class="col-md-12 actions">

                        <a class="clone-activity btn btn-grey" ng-click="vm.cloneActivity()"><i class="glyphicon glyphicon-duplicate"></i> {{vm.lang.get('label.clone_activity')}}</a>
                        <a class="edit-activity btn btn-blue" ng-click="vm.show_edit_view = true"><i class="glyphicon glyphicon-pencil"></i> {{vm.lang.get('label.edit_activity')}}</a>
                        <a class="delete-activity btn btn-red" ng-click="vm.deleteActivity()"><i class="glyphicon glyphicon-trash"></i> {{vm.lang.get('label.delete_activity')}}</a>
                    </div>
                </div>

                <form class="activity-details-edit" ng-if="vm.show_edit_view">
                    <div class="form-group">
                        <div class="control">
                            <input type="text" class="form-control name" placeholder="{{vm.lang.get('label.course_title')}}" ng-model="vm.activity.name" value="{{vm.activity.name}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control">
                            <textarea class="form-control description" ng-model="vm.activity.description"></textarea>
                        </div>
                    </div>
                    <h3>{{vm.lang.get('label.course_type')}}</h3>
                    <div class="form-group">
                        <a href="" ng-click="vm.addCourse()"><span ng-show="vm.activity.course_name">{{vm.lang.get('label.located')}}:</span><span ng-show="!vm.activity.course_name">{{vm.lang.get('label.select_course')}}</span> {{vm.activity.course_name}}</a>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.note_field_school')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" required ng-model="vm.activity.options.dks_note_field_school" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.note_field_artist')}}
                        </label>
                        <div class="control">
                            <input type="text" class="form-control" required ng-model="vm.activity.options.dks_note_field_artist" />
                        </div>
                    </div>
                    <h3>{{vm.lang.get('label.point')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.date')}}
                        </label>
                        <div class="control date-picker">
                            <input type="text" class="form-control date-picker" required date-range-picker ng-model="vm.activity.date_start" options="vm.optsSinglePicker"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.time')}}
                        </label>
                        <div class="control">
                            <input type="text" ng-model="vm.activity.options.dks_school_tour_start_time" ng-model-options='{ debounce: 500 }' ng-change="vm.changeSingleTime(item, 'start')" ui-options="vm.maskOptions" ui-mask="v9:x8" model-view-value="true" ui-mask-placeholder class="masked-time border-box" value="" placeholder="Starttid">
                            <input type="text" ng-model="vm.activity.options.dks_school_tour_end_time" ng-model-options='{ debounce: 500 }' ng-change="vm.changeSingleTime(item, 'end')" ui-options="vm.maskOptions" ui-mask="v9:x8" model-view-value="true" ui-mask-placeholder class="masked-time border-box" value="" placeholder="Starttid">
                        </div>
                    </div>
                    <h3>{{vm.lang.get('label.location')}}</h3>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.place')}}
                        </label>
                        <div class="control">
                            <select class="form-control" ng-model="vm.activity.options.summer_school_school_id" >
                                <option value="null">{{vm.lang.get('label.select_location')}}</option>
                                <option ng-repeat="s in vm.schools" value="{{s.id}}">{{s.name}}</option>>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.number_of_pitches')}}
                        </label>
                        <div class="control">
                            <select class="form-control" ng-model="vm.activity.options.summer_school_participants_maximum" ng-options="n for n in vm.range(1,150) track by n">
                                <option value="">{{vm.lang.get('label.select')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            {{vm.lang.get('label.limited_seats')}}<br/>
                            <span>(Overbooking)</span>
                        </label>
                        <div class="control">
                            <select class="form-control" ng-model="vm.activity.options.summer_school_participants_limit" ng-options="n for n in vm.range(1,150) track by n">
                                <option value="">{{vm.lang.get('label.select')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <div class="control">
                            <md-checkbox ng-model="vm.activity.allow_waiting_queue" aria-label="{{vm.lang.get('label.allowed_list')}}">
                                {{vm.lang.get('label.allowed_list')}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div ng-if="vm.activity.options.summer_school_school_id">
                        <ng-map center="[{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.latitude}}, {{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.longitude}}]" zoom="14">
                            <marker position="{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.latitude}},{{vm.schools[vm.activity.options.summer_school_school_id].gps_coordinates.longitude}}" title="{{vm.schools[vm.activity.options.summer_school_school_id].name}}"></marker>
                        </ng-map>
                        <br/>
                    </div>
                    <div class="actions">
                        <a class="submit btn btn-blue" ng-click="vm.updateActivity()"><i class="glyphicon glyphicon-floppy-disk"></i> {{vm.lang.get('label.save')}}</a>
                        <a class="cancel btn btn-red" ng-click="vm.cancelEditActivity()"><i class="glyphicon glyphicon-pencil"></i> {{vm.lang.get('label.cancel')}}</a>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="right-panel seperate-line-left">
                    <div class="search-container">
                        <div class="row" >
                            <div ng-if="vm.modify_participant" class="col-md-4">
                                <md-autocomplete
                                        md-no-cache="true"
                                        md-selected-item="vm.selected_participant"
                                        md-search-text="vm.searchText"
                                        md-items="item in vm.querySearch(vm.searchText)"
                                        md-item-text="item.name + ' ' + item.school.name"
                                        md-min-length="2"
                                        md-delay="2000"
                                        placeholder="{{vm.lang.get('message.enter_class_name')}}"
                                        md-menu-class="autocomplete-custom-template">
                                    <md-item-template>
                                        <span class="item-title">
                                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">
                                                {{item.name}} -
                                            </span>
                                            <strong>{{item.school.name}}</strong>
                                        </span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>
                            <div ng-if="vm.modify_participant" class="col-md-3">
                                <a ng-click="vm.addParticipant()" class="btn btn-primary btn-add-participant btn-blue">{{vm.lang.get('label.add_participant')}}</a>
                            </div>
                            <div class="col-md-5 pull-right">
                                <a ng-click="vm.arrange_mode = !vm.arrange_mode" class="btn btn-green pull-right">Fordel elever til flere aktiviteter</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="!vm.arrange_mode">
                        <div class="col-md-6">
                            <div class="participant-list">
                                <h2>{{vm.lang.get('label.confirmed')}}</h2>
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="participant in vm.activity.participants.confirmed">
                                        <td>
                                            <img ng-show="participant.image_id" ng-src="/img/profile/{{participant.image_id}}" width="40px" />
                                            <img ng-show="!participant.image_id" ng-src="/img/profile/00000-00000-00000-00000" width="40px" />
                                        </td>
                                        <td>
                                            <span outer-link="/#/profil/{{participant.user_id}}">{{participant.name }}</span>
                                        </td>
                                        <td>
                                            {{ participant.gender ? (participant.gender == 'M' ? 'Gutt' : 'Jente') : '' }}
                                        </td>
                                        <td>
                                            {{participant.group }}. trinn
                                        </td>
                                        <td>
                                            {{participant.school}}
                                        </td>
                                        <td  width="100px" ng-if="vm.modify_participant" >
                                                <span class="glyphicon glyphicon-trash pull-right"
                                                      aria-hidden="true" ng-click="vm.removeParticipant(vm.activity.participants.confirmed, participant)"
                                                      title="{{vm.lang.get('label.delete_participant')}}"></span>
                                            <span class="glyphicon glyphicon-log-out pull-right"
                                                  aria-hidden="true" ng-click="vm.moveParticipant(vm.activity.participants.confirmed, participant)"
                                                  title="{{vm.lang.get('label.move_to_another_course')}}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="participant-list">
                                <h2>{{vm.lang.get('label.waiting_list')}}</h2>
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="participant in vm.activity.participants.waiting">
                                        <td>
                                            <img ng-show="participant.image_id" ng-src="/img/profile/{{participant.image_id}}" width="40px" />
                                            <img ng-show="!participant.image_id" ng-src="/img/profile/00000-00000-00000-00000" width="40px" />
                                        </td>
                                        <td>
                                            <span outer-link="/#/profil/{{participant.user_id}}">{{participant.name }}</span>
                                        </td>
                                        <td>
                                            {{ participant.gender ? (participant.gender == 'M' ? 'Gutt' : 'Jente') : '' }}
                                        </td>
                                        <td>
                                            {{participant.group }}. trinn
                                        </td>
                                        <td>
                                            {{participant.school}}
                                        </td>
                                        <td width="100px" ng-if="vm.modify_participant" >
                                                <span class="glyphicon glyphicon-trash pull-right"
                                                      aria-hidden="true" ng-click="vm.removeParticipant(vm.activity.participants.waiting, participant)"
                                                      title="{{vm.lang.get('label.delete_participant')}}"></span>
                                            <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"
                                                  ng-click="vm.confirmParticipant(participant)"
                                                  title="{{vm.lang.get('label.confirm_participant')}}"></span>
                                            <span class="glyphicon glyphicon-log-out pull-right"
                                                  aria-hidden="true" ng-click="vm.moveParticipant(participant)"
                                                  title="{{vm.lang.get('label.move_to_another_course')}}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.arrange_mode">
                        <div class="col-md-12">
                            <div class="group-filter">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>{{vm.lang.get('label.share_course')}}</span>
                                        <select ng-model="vm.activity.number_of_groups" ng-change="vm.changeNumberOfGroup()">
                                            <option ng-repeat="group in vm.range(1, 15)">{{group}}</option>
                                        </select>
                                        <span>{{vm.lang.get('label.groups')}}</span>
                                    </div>
                                    <div class="col-md-8 pull-right">
                                        <div class="pull-right">
                                            <span>{{vm.lang.get('label.advantage')}}:</span>
                                            <select ng-model="vm.arrange_filter.group" class="filter-condition">
                                                <option value="">{{vm.lang.get('label.year')}}</option>
                                                <option value="Distribute">{{vm.lang.get('message.spread_evenly_year')}}</option>
                                                <option value="Single">{{vm.lang.get('message.prefer_same_grade')}}</option>
                                            </select>
                                            <select ng-model="vm.arrange_filter.sex" class="filter-condition">
                                                <option value="">{{vm.lang.get('label.sex')}}</option>
                                                <option value="Distribute">{{vm.lang.get('message.spread_evenly_gender')}}</option>
                                                <option value="Single">{{vm.lang.get('message.prefer_same_sex')}}</option>
                                            </select>
                                            <select ng-model="vm.arrange_filter.school" class="filter-condition">
                                                <option value="">{{vm.lang.get('label.school')}}</option>
                                                <option value="Distribute">{{vm.lang.get('message.spread_evenly_schools')}}</option>
                                                <option value="Single">{{vm.lang.get('message.prefer_same_schools')}}</option>
                                            </select>
                                            <a ng-click="vm.distributeParticipants()" class="btn btn-success">
                                                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                                {{vm.lang.get('label.advantage')}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-container" ng-if="vm.activity.number_of_groups">
                                <div ng-repeat="group in vm.range(1, vm.activity.number_of_groups || 16)" class="group group-{{vm.activity.number_of_groups > 5 ? 5 : vm.activity.number_of_groups}}" data-drop="true" jqyoui-droppable="{multiple:true}" ng-model="vm.list[group]">
                                    <h3 class="title">{{vm.lang.get('label.group')}} {{group}}</h3>
                                    <div class="participants">
                                        <div class="btn-draggable participant-activity-so" ng-repeat="participant in vm.list[group]" ng-model="vm.list[group]"
                                             ng-class="participant.gender ? (participant.gender == 'M' ? 'male' : 'female') : 'unknown'"
                                             data-drag="true" jqyoui-draggable="{index: {{$index}},animate:true, onStop : vm.changeGroup(group, participant)}"
                                             data-jqyoui-options="{revert: 'invalid'}">
                                            <div class="participant">
                                                <div class="border"></div>
                                                <div class="participant-info">
                                                    <div class="name" outer-link="/#/profil/{{participant.user_id}}">
                                                        {{participant.name }}
                                                    </div>
                                                    <div class="context">
                                                        {{participant.group }}. trinn - {{participant.school}} {{ participant.gender ? (participant.gender == 'M' ? ', Gutt' : ', Jente') : '' }}
                                                    </div>
                                                    <span ng-if="vm.modify_participant" class="glyphicon glyphicon-trash"
                                                          aria-hidden="true" ng-click="vm.removeParticipant(vm.activity.participants.confirmed, participant)"
                                                          title="{{vm.lang.get('label.delete_participant')}}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>